.cta {
  @include small-tablet {
    margin-bottom: 32px;
  }
  &__form {
    position: relative;
    z-index: 9;
    max-width: 452px;

    @include small-tablet {
      max-width: 100%;
    }
    .form__fields {
      max-width: 438px;
      @include small-tablet {
        max-width: 100%;
      }
    }
  }

  &__content {
    padding: 40px;
    padding-left: 72px;
    padding-top: 35px;
    border-radius: 20px;
    background-color: #006aff;
    overflow: hidden;
    position: relative;
    @include small-tablet {
      padding: 30px;

      border-radius: 22px;
    }
    @include mobile {
      padding: 40px 20px;
      padding-bottom: 45px;
    }
    &::after {
      content: "";
      position: absolute;
      right: -799px;
      bottom: -963px;
      width: 1692px;
      aspect-ratio: 1 / 1;
      background-image: url("./../img/phones/star.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include small-tablet {
        width: 1440px;
        transform: rotate(11deg);
        right: -709px;
        bottom: -761px;
      }
    }
  }

  &__phone {
    position: absolute;
    @include small-tablet {
      display: none;
    }
    &--1 {
      z-index: 3;
      left: -9px;
      bottom: 7px;
      width: 18.8%;
      height: 94.81865%;

      transform: rotate(13.51deg);

      background-image: url("./../img/phones/01.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--2 {
      left: 15.9%;
      bottom: -19%;
      width: 15.1%;
      height: 77.02936%;
      transform: rotate(-15.92deg);
      background-image: url("./../img/phones/02.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &--3 {
      z-index: 3;
      right: 3.8%;
      bottom: -9.7%;
      width: 20.08%;
      height: 102.42%;
      transform: rotate(-6.83deg);
      background-image: url("./../img/phones/03.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 70px;

    @include small-tablet {
      font-size: 50px;
    }
    @include mobile {
      font-size: 42px;
      margin-bottom: 27px;
    }
  }
  &__wrapper {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    @include small-tablet {
      max-width: 100%;
    }
  }
}
