.faq-item {
  padding: 22px 0;

  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    border-bottom: 1px solid rgba(0, 14, 43, 0.12);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    height: 1px;
    background-color: #006aff;
    transform: translateX(-100%);
  }
  &__question {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #001840;
    text-align: left;

    @include small-tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 17px;
    }
  }
  &__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include small-tablet {
      align-items: center;
    }
  }

  &__plus {
    position: relative;
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1 / 1;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s ease-in;
      &:last-child {
        opacity: 0;
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #001840;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    will-change: max-height;
    p,
    ul,
    ol {
      margin: 0;
      padding: 0;
    }
    ul,
    ol {
      padding-left: 24px;
    }
  }

  &__body {
    padding-top: 8px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #001840;

    @include mobile {
      font-size: 13px;
    }
  }

  @include hover {
    &::after {
      animation: slide 1.5s ease-in infinite;
    }
  }

  &.active {
    .faq-item__plus {
      svg {
        &:first-child {
          opacity: 0;
          transform: rotate(90deg);
        }
        &:last-child {
          opacity: 1;
          transform: rotate(0deg);
        }
      }
    }
  }
}

@keyframes slide {
  to {
    transform: translateX(100%);
  }
}
