.footer {
  background-image: url("./../img/cubes2.webp");
  background-repeat: repeat;
  background-size: 100% auto;
  padding: 24px 0 32px;
  @include mobile {
    background-image: unset;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      gap: 12px;
    }
    @include small-tablet {
      gap: 27px;
    }
  }

  &__logo {
    display: block;
    @include small-tablet {
      height: 39px;
      width: 150px;
    }
    svg {
      height: 100%;
      width: 100%;
      fill: #006aff;

      .kit {
        fill: #001840;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 32px;
    @include tablet {
      flex-direction: column;
      justify-content: center;
      gap: 12px;
    }
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #001840;
    @include small-tablet {
      font-size: 24px;
    }
    &--up {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      color: #006aff;
      svg {
        fill: currentColor;

        @include small-tablet {
          height: 15px;
          width: 13px;
        }
      }
    }
  }
}
