.form {
  &__input {
    display: block;
    padding: 10px 0;

    width: 100%;
    border: none;
    background: none;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    border-bottom: 1px solid #fff;

    @include small-tablet {
      font-size: 17px;
    }
    &::placeholder {
      color: #fff;
      opacity: 0.7;
      transition: opacity 0.2s ease-in;
    }
    &:not(:last-child) {
      margin-bottom: 10.5px;
    }
    @include hover {
      &::placeholder {
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 1;
      }
    }
  }
  &__fields {
    margin-bottom: 32px;

    @include small-tablet {
      margin-bottom: 24px;
    }
  }
  &__btn {
    padding: 11px 9px 12px;
    display: flex;
    width: 100%;
    font-size: 32px;
    color: #006aff;
    background-color: #fff;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @include hover {
      border-color: #fff;
      background-color: #006aff;
      color: #fff;
    }
    @include small-tablet {
      font-size: 26px;
      padding-top: 18px;
      padding-bottom: 16px;
    }
    @include mobile {
      padding-top: 20px;
      padding-bottom: 14px;
    }
  }

  &__agree {
    display: block;
    max-width: 336px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    opacity: 0.7;

    a {
      color: inherit;

      @include hover {
        text-decoration: underline;
      }
    }
  }
}
