// ваш код
.header {
  position: fixed;
  padding: 12px 16px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet {
      order: 4;
    }
    @include small-tablet {
      padding-right: 4px;
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 33px;
    width: auto;
    @include tablet {
      position: static;
      transform: none;
      order: -1;
    }
    @include small-tablet {
      height: 24px;
    }
    svg {
      height: 100%;
      width: auto;
      fill: #fff;
      transition: fill 0.3s ease-in;
      .kit {
        transition: fill 0.3s ease-in;
      }
    }
  }

  &__nav,
  &__btn {
    @include tablet {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tablet {
      margin-left: auto;
      margin-right: 20px;
    }
    @include small-tablet {
      margin-right: 24px;
    }
  }

  &__tel {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    transition: color 0.3s ease-in;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 10%;
      opacity: 0;
      height: 1px;
      background-color: currentColor;
      transition: 0.3s ease-in;
    }
    @include hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }

    @include small-tablet {
      font-size: 14px;
    }
  }
}

.header.header-color-light {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.9);
  .burger {
    color: #091f45;
  }
  .header__nav {
    ul {
      li {
        a {
          color: #091f45;
        }
      }
    }
  }
  .header__logo {
    svg {
      fill: #001840;
      .kit {
        fill: #006aff;
      }
    }
  }
  .header__tel {
    color: #001840;
  }
}
.header.header-color-dark {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 24, 64, 0.9);
  .burger {
    color: #fff;
  }
  .header__nav {
    ul {
      li {
        a {
          color: #fff;
        }
      }
    }
  }
  .header__logo {
    svg {
      fill: #fff;
      .kit {
        fill: #fff;
      }
    }
  }
  .header__tel {
    color: #fff;
  }
}
