// ваш код
.header {
  position: fixed;
  padding: 12px 16px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 33px;
    width: auto;
    svg {
      height: 100%;
      width: auto;
      fill: #fff;
      // .kit {
      //   fill: #006aff;
      // }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__tel {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 10%;
      opacity: 0;
      height: 1px;
      background-color: currentColor;
      transition: 0.3s ease-in;
    }
    @include hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
