.loyal {
  padding-bottom: 0;
  padding-top: 93px;
  @include tablet {
    padding-top: 50px;
  }
  @include small-tablet {
    padding-top: 20px;
  }
  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    margin-bottom: 39px;

    @include tablet {
      display: flex;
      flex-direction: column;
      padding-right: 250px;
    }
    @include small-tablet {
      padding-right: 0;
    }
  }
  &__heading {
    grid-column: 2 span;
  }
  &__title {
    span {
      @include small-tablet {
        display: block;
        max-width: 293px;
        margin-left: auto;
        margin-top: 8px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
      }
    }
  }
  &__canvas {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    transform: translate(-20%, 0%);
    width: 550px;
    height: 550px;

    @include tablet {
      width: 250px;
      height: 250px;
      left: unset;
      right: -240px;
      top: 0;
      transform: translate(0%, 25%);
    }
    @include small-tablet {
      right: -60px;
    }
  }
  &__btn {
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 18px;
    padding-left: 19px;
    gap: 10px;
    &::before {
      background-image: url("./../img/pin.svg");
    }
    @include tablet {
      margin-bottom: 8px;
    }
  }
  &__cover {
    height: 750px;

    &--app {
      margin-bottom: 100px;
      @include small-tablet {
        margin-bottom: 60px;
      }
    }
    @include tablet {
      height: 600px;
    }
    @include small-tablet {
      height: 530px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    @include tablet {
      grid-template-columns: 1fr;
      gap: 22px;
    }
    &:not(:last-child) {
      margin-bottom: 98px;
      @include tablet {
        margin-bottom: 50px;
      }
      @include small-tablet {
        margin-bottom: 38px;
      }
    }
  }

  &__item {
    &:nth-of-type(1) {
      grid-column-start: 2;
      @include tablet {
        grid-column-start: 1;
      }
    }
  }
}

.loyal-wrapper {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
