.loyal {
  padding-bottom: 0;
  padding-top: 93px;
  @include tablet {
    padding-top: 50px;
  }
  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
    margin-bottom: 39px;

    @include tablet {
      display: flex;
      flex-direction: column;
      padding-right: 250px;
    }
  }
  &__heading {
    grid-column: 2 span;
  }
  &__title {
  }
  &__canvas {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    transform: translate(-20%, 0%);
    width: 550px;
    height: 550px;

    @include tablet {
      width: 250px;
      height: 250px;
      left: unset;
      right: -240px;
      top: 0;
      transform: translate(0%, 25%);
    }
  }
  &__btn {
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 18px;
    padding-left: 19px;
    gap: 10px;
    &::before {
      background-image: url("./../img/pin.svg");
    }
  }
  &__cover {
    height: 750px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    @include tablet {
      grid-template-columns: 1fr;
    }
    &:not(:last-child) {
      margin-bottom: 98px;
    }
  }

  &__item {
    &:nth-child(1) {
      grid-column-start: 2;
      @include tablet {
        grid-column-start: 1;
      }
    }
  }
}

.loyal-wrapper {
  background-color: #fff;
  // background-image: url("./../img/cubes2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
