.plans {
  padding: 54px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;

    position: relative;
    z-index: 6;

    @media (max-width: 900px) {
      text-align: center;
      justify-content: center;
    }
    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__label {
    margin-bottom: 10px;
    gap: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 17px;
    @include small-tablet {
      margin-bottom: 8px;
    }
  }

  &__desc {
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: #001840;
    @include small-tablet {
      font-size: 14px;
    }
    @include mobile {
      font-size: 13px;
    }
    p {
      margin: 0;
    }
    @media (max-width: 900px) {
      display: none;
    }
    &--mob {
      display: none;
      max-width: 100%;
      text-align: center;
      @media (max-width: 900px) {
        display: block;
        margin-bottom: 16px;
      }
      @include small-tablet {
        margin-bottom: 15px;
      }
    }
  }
  &__title {
    margin-bottom: 10px;
    font-size: 70px;
    @include small-tablet {
      font-size: 50px;
    }
    @include mobile {
      font-size: 42px;
    }
  }
  &__tabs {
    display: flex;
    gap: 8px;

    @media (max-width: 900px) {
      justify-content: center;
    }
  }

  &__tab {
    padding: 10px 24px;
    padding-right: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #000e2b;
    border-radius: 100px;
    background-color: #f1f5f9;
    position: relative;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    @include mobile {
      padding: 6px 16px;
      font-size: 12px;
    }
    @include hover {
      background-color: #006aff;
      color: #fff;
      &::after {
        transform: scale(1.2) translate(4px, -4px);
      }
    }
    &:focus {
      background-color: #398cff;
      color: #fff;
      &::after {
        transform: scale(1.2) translate(4px, -4px);
      }
    }
    &.active {
      color: #fff;
      background-color: #006aff;
      &::after {
        transform: scale(1.2) translate(4px, -4px);
      }
    }

    &:not(:first-child) {
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        right: 0;
        top: -7px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fe9861;
        background-image: url("./../img/!.svg");
        background-size: 5px 9px;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in;
        @include mobile {
          right: -11px;
          top: -6px;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
    &.hidden {
      opacity: 0;
      transform: scale(0.8);
      visibility: hidden;
      position: absolute;
      pointer-events: none;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }

    &.active {
      display: grid;
    }
  }
  &__bottom {
    margin-top: 23px;
    @include small-tablet {
      margin-top: 31px;
    }
  }
  &__btn {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 15.5px 55px 14px;
    @include mobile {
      width: 100%;
      font-size: 26px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
}
