.prepare {
  width: 100%;
  max-width: 304px;
  padding: 12px 15px;
  padding-bottom: 17px;
  border-radius: 19px;
  box-shadow: 0 1px 15px 0 rgba(0, 59, 142, 0.1);
  background: #fff;
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 14px;
  }
  &__body {
    padding-left: 8px;
  }

  &__item {
    padding-left: 17px;
    position: relative;
    &:not(:last-child) {
      border-left: 1px dashed #d9d9d9;
      padding-bottom: 36px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(-50%);
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: #fff;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./../img/from-icon.svg");
    }
    &:last-child {
      &::before {
        background-image: url("./../img/map-icon.svg");
      }
    }
  }

  &__capture {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #299654;
  }
  &__supercapture {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
  }
  &__address {
    margin: 0;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.017em;
    color: #252525;
  }
  &__intime {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: rgba(37, 37, 37, 0.5);
  }
  &__time {
    font-weight: 400;
    font-size: 10px;
    line-height: 133%;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 226px;
    margin-left: -2px;
    padding: 8.5px;
    background-color: #006aff;
    border: 1px solid #006aff;
    border-radius: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #fff;
    transition: 0.2s ease-in;

    @include hover {
      background-color: #fff;
      color: #006aff;
    }
  }
  &__wrap {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}
