.products {
  position: relative;
  padding: 100px 0 149px;
  padding-top: 96px;
  background-color: #000e2b;

  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  @include small-tablet {
    padding-top: 0;
    padding-bottom: 60px;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-image: url("./../img/cubes.webp");
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 6;
    margin-bottom: 28px;

    @include tablet {
      flex-direction: column-reverse;
      gap: 12px;
      margin-bottom: 17px;
    }
  }
  &__main {
    position: relative;
    z-index: 6;
    &:not(:last-child) {
      margin-bottom: 100px;
      @include tablet {
        margin-bottom: 60px;
      }
      @include small-tablet {
        margin-bottom: 27px;
      }
    }
  }
  &__title {
    max-width: 962px;
    @include tablet {
      max-width: 100%;
      width: 100%;
    }
    span {
      span {
        display: none;
        @include small-tablet {
          display: inline;
        }
      }
      @include small-tablet {
        margin-top: 9px;
        font-family: var(--font-family);
        display: block;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        color: #7a8fb9;

        margin-left: auto;
        font-size: 18px;
        max-width: 292px;
      }
    }
  }
  &__btn {
    font-family: var(--font-family);
    flex-shrink: 0;
    padding: 11px 17px;
    margin-top: 4px;
    letter-spacing: 0;
    gap: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    text-transform: initial;
    color: #fff;

    @include small-tablet {
      font-size: 12px;
    }
  }

  &__items {
    position: relative;
    z-index: 10;
    height: 700px;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.08);

    @include tablet {
      flex-direction: column;
      height: auto;
      margin: 0 calc(-1 * var(--container-offset));
    }
  }
}

.prod-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #01143a;

  cursor: pointer;
  position: relative;
  transition: flex 0.7s ease-in, background-color 0.4s ease-in;
  @include tablet {
    flex: 1 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.08);
  }
  &__info {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 31px 25px 38px;

    transition: 0.5s ease-in;

    @include tablet {
      position: static;
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      padding: 22px 16px 21px;
    }
  }

  &__num {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #7a8fb9;
    white-space: nowrap;
    @include tablet {
      font-size: 26px;
    }
    @include small-tablet {
      font-size: 16px;
    }
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;
    line-height: 100%;
    text-transform: uppercase;
    color: #7a8fb9;
    transform: rotateZ(-180deg);
    writing-mode: vertical-lr;
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.4s ease-in;

    @include tablet {
      line-height: 1;
      font-size: 28px;
      transform: none;
      writing-mode: unset;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
  }
  &__video {
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.3s linear, opacity 0.3s linear;
    will-change: max-width;
    img,
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include hover {
    background-color: #021947;
    .prod-item__title {
      color: #fff;
    }
  }

  &.active {
    flex: 4.7;
    // background-color: #006aff;
    .prod-item__video {
      max-width: 100%;
      opacity: 1;
    }
    .prod-item__info {
      flex-direction: row;
      align-items: flex-start;
      height: auto;
    }
    .prod-item__num {
      color: #fff;
    }
    .prod-item__title {
      writing-mode: unset;
      transform: rotateZ(0);
      font-size: 32px;
      color: #fff;

      @include tablet {
        font-size: 28px;
      }
    }
  }
}

// Определение функции для генерации множества теней
@function multiple-box-shadow($n) {
  $value: "#{random(4000)}px #{random(4000)}px #fff";

  @for $i from 1 through $n {
    $value: "#{$value}, #{random(4000)}px #{random(4000)}px #fff";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(900);
$shadows-medium: multiple-box-shadow(300);
$shadows-big: multiple-box-shadow(100);

#stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background: none;
  box-shadow: $shadows-small;
  animation: animStar 30s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: none;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: none;
  box-shadow: $shadows-medium;
  animation: animStar 30s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: none;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  position: absolute;
  width: 3px;
  height: 3px;
  background: none;
  box-shadow: $shadows-big;
  animation: animStar 30s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: none;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-600px);
  }
}
