.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 13px;
  background-color: #006aff;
  font-family: var(--second-family);
  font-weight: 400;
  border: 1px solid #006aff;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 100px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    border-color 0.3s ease-in;
  @include hover {
    background-color: #fff;
    color: #006aff;
  }
  &:focus {
    background-color: #fff;
    color: #006aff;
  }
  &:active {
    background-color: #105dca;
    color: #fff;
  }
  &--stroke {
    border: 1px solid #333e55;
    background-color: transparent;
    @include hover {
      background-color: #fff;
    }
  }

  &--check {
    font-family: var(--font-family);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    padding-right: 13px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 14, 43, 0.09);
    letter-spacing: 0.005em;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #001840;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url("./../img/zz.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--white {
    border-color: #fff;
  }
}
.btn-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  border: 1px solid #bec3cb;
  border-radius: 100px;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  color: #001840;
  @include small-tablet {
    font-size: 12px;
  }
  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./../img/star.svg");
  }
}
.burger {
  @include burger;
}

.mouse {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #006aff;
  pointer-events: none;
  border: 0.5px solid #006aff;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in,
    opacity 0.2s ease-in;
  @include tablet {
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: scale(0), translate(-50%, -50%);
    width: 130px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    filter: blur(60px);
    background-color: #006aff;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in;
  }

  &.hovered {
    transform: scale(2.5);
    background-color: transparent;
    opacity: 0.5;
  }
  &.active {
    transform: scale(1.7);
  }

  &.oreal {
    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &.white {
    background-color: #fff;
    border-color: #fff;
  }
}

.oreal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 130px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  filter: blur(60px);
  background-color: #006aff;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: color-dodge;
  transition: opacity 0.3s ease-in;
  @include tablet {
    display: none;
  }
}

[data-aos="draw-plus"] {
  &::after {
    transform: scale(0.3);
    transition-property: transform, opacity;
    transition-duration: inherit;
    transition-delay: inherit;
  }

  &.aos-animate {
    &::after {
      transform: scale(1);
    }
  }
}
@keyframes plus-anim {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.loyal-more-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 56px 13px;
  border-radius: 1000px;
  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #232323;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  @include hover {
    background-color: #006aff;
    color: #fff;
  }
  &:focus {
    background-color: #006aff;
    color: #fff;
  }
  &:active {
    background-color: #105dca;
    color: #fff;
  }

  &-dark {
    background-color: #232323;
    border-color: #232323;
    color: #fff;
    @include hover {
      background-color: #fff;
    }
  }
}

.just-validate-error-label {
  text-align: right;
  position: absolute;
  right: 15px;
  margin-top: 2px;
  font-size: 12px;
  color: #fff !important;
}
