<section class="business-wrapper" data-header="dark" role="region" aria-labelledby="business-title">
  <h2 class="visually-hidden" id="business-title">Решения для бизнеса</h2>
  <section class="business" role="region" aria-labelledby="business-heading">
    <div class="container">
      <div class="business__header">
        <div data-aos-anchor-placement="bottom-bottom" data-aos="fade-right">
          <canvas class="business__canvas" id="business-canvas" aria-hidden="true"></canvas>
        </div>
        <div class="business__heading">
          <span class="business__btn btn-label btn-reset" data-aos-anchor-placement="bottom-bottom"
            data-aos="fade-down">
            Sellkit
          </span>
          <h2 class="business__title title2" id="business-heading" data-aos-anchor-placement="bottom-bottom"
            data-aos="fade-down">
            развитие бизнеса с&nbsp;помощью IT-инструментов
          </h2>
        </div>
      </div>

      <div class="features" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
        <div class="features__head">
          <span class="features__supertitle">возможности сервиса</span>
          <div class="features__tabs" role="tablist">
            <button class="features__tab selected btn-reset" data-features-btn="1" role="tab" aria-selected="true"
              aria-controls="features-content-1">
              Всё включено
            </button>
            <button class="features__tab btn-reset" data-features-btn="2" role="tab" aria-selected="false"
              aria-controls="features-content-2">
              Преимущества
            </button>
          </div>
        </div>
        <div class="features__content" id="features-content-1" role="tabpanel" aria-labelledby="features-content-1">
          <div class="features__table">
            <div class="features__row">
              <div class="features__col">
                <span class="features__label">01</span>
                <p class="features__desc">
                  Фирменный сайт
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">02</span>
                <p class="features__desc">
                  Мобильные
                  приложения
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">03</span>
                <p class="features__desc">
                  CRM система
                </p>
              </div>
            </div>
            <div class="features__row">
              <div class="features__col">
                <span class="features__label">04</span>
                <p class="features__desc">
                  Инструменты
                  маркетинга
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">05</span>
                <p class="features__desc">
                  Обучение
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">06</span>
                <p class="features__desc">
                  Софт
                  для курьеров
                </p>
              </div>
            </div>
            <div class="features__row">
              <div class="features__col">
                <span class="features__label">07</span>
                <p class="features__desc">
                  Поддержка в
                  течение года
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">08</span>
                <p class="features__desc">
                  Промокоды
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">09</span>
                <p class="features__desc">
                  Смс и email
                  маркетинг
                </p>
              </div>
            </div>
            <div class="features__row">
              <div class="features__col">
                <span class="features__label">10</span>
                <p class="features__desc">
                  Модули доработок
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">11</span>
                <p class="features__desc">
                  Модуль шашлыков
                </p>
              </div>
              <div class="features__col">
                <span class="features__label">12</span>
                <p class="features__desc">
                  Push-уведомления
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="features__content hidden" id="features-content-2" role="tabpanel"
          aria-labelledby="features-content-2">
          <div class="features__list">
            <div class="features__list-item" role="list">
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">01</span>
                <p class="features__adv-desc">
                  Возможность работать с двумя и более брендами в одной учетной системе
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">02</span>
                <p class="features__adv-desc">
                  Полноценная RFM сегментация клиентов
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">03</span>
                <p class="features__adv-desc">
                  Полноценное отображение модификаторов в корзине/заказе
                </p>
              </div>
            </div>
            <div class="features__list-item" role="list">
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">04</span>
                <p class="features__adv-desc">
                  Два варианта авторизации (телефон/СМС и почта/пароль)
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">05</span>
                <p class="features__adv-desc">
                  Продажа товаров по предзаказу
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">06</span>
                <p class="features__adv-desc">
                  Возможность редактировать заказ до оплаты
                </p>
              </div>
            </div>
            <div class="features__list-item" role="list">
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">07</span>
                <p class="features__adv-desc">
                  Глубокие ссылки из СМС, email, push
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">08</span>
                <p class="features__adv-desc">
                  Различные типы баннеров и рекламные блоки
                </p>
              </div>
              <div class="features__list-col" role="listitem">
                <span class="features__adv-title">09</span>
                <p class="features__adv-desc">
                  Постоянная служба поддержки
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="plans" id="plans" role="region" aria-labelledby="plans-title">
    <div class="container">
      <div class="plans__header centered" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
        <span class="plans__btn btn-label btn-reset">
          наши цены
        </span>
        <h2 class="title2 plans__title" id="plans-title">
          выберите тариф, который подходит именно вам
        </h2>
      </div>
      <div class="plans__items" role="list">
        <div class="plans__item plan plan-accent" data-aos-anchor-placement="bottom-bottom" data-aos="fade-right"
          role="listitem">
          <div class="plan__header">
            <p class="plan__title">Premium</p>
            <p class="plan__price">
              <span>от&nbsp;</span>52&nbsp;900<span>&nbsp;руб.</span>
            </p>
            <p class="plan__subtitle">
              В&nbsp;нашей компании есть гибкая система скидок в&nbsp;зависимости
              от&nbsp;условий вашей интеграции.
            </p>
          </div>
          <ul class="plan__items">
            <li class="plan__item">
              <div class="plan__icon" aria-hidden="true"></div>
              <div class="plan__item-content">
                <p class="plan__item-title">
                  Единоразовая оплата:
                </p>
                <p class="plan__item-subtitle">
                  49&nbsp;900 руб&nbsp;— интеграция и&nbsp;настройка решения
                </p>
              </div>
            </li>
            <li class="plan__item">
              <div class="plan__icon" aria-hidden="true"></div>
              <div class="plan__item-content">
                <p class="plan__item-title">
                  Ежемесячная оплата:
                </p>
                <p class="plan__item-subtitle">
                  от&nbsp;3&nbsp;000 руб.&nbsp;— техническая поддержка
                </p>
              </div>
            </li>
          </ul>
          <div class="plan__app">
            <div class="plan__app-img">
              <img src="./img/app-screens.webp" alt="Приложение на экранах смартфонов" />
            </div>
            <div class="plan__app-bottom">
              <span class="plan__app-text">Скачайте пример приложения</span>
              <div class="plan__app-stores">
                <a href="#" target="_blank" class="plan__app-store" aria-label="Скачать приложение в App Store">
                  <img src="./img/icons/black-apple.svg" alt="App Store" />
                </a>
                <a href="#" target="_blank" class="plan__app-store" aria-label="Скачать приложение в Google Play">
                  <img src="./img/icons/black-google.svg" alt="Google Play" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="plans__item plan plan-base" data-aos-anchor-placement="bottom-bottom" data-aos="fade-left"
          role="listitem">
          <div class="plan__header">
            <p class="plan__title">Стандарт</p>
            <p class="plan__price">
              <span>от&nbsp;</span>17&nbsp;900<span>&nbsp;руб.</span>
            </p>
            <p class="plan__subtitle">
              В&nbsp;нашей компании есть гибкая система скидок в&nbsp;зависимости
              от&nbsp;условий вашей интеграции.
            </p>
          </div>
          <ul class="plan__items">
            <li class="plan__item">
              <div class="plan__icon" aria-hidden="true"></div>
              <div class="plan__item-content">
                <p class="plan__item-title">
                  Единоразовая оплата:
                </p>
                <p class="plan__item-subtitle">
                  14&nbsp;900 руб&nbsp;— интеграция и&nbsp;настройка решения
                </p>
              </div>
            </li>
            <li class="plan__item">
              <div class="plan__icon" aria-hidden="true"></div>
              <div class="plan__item-content">
                <p class="plan__item-title">
                  Ежемесячная оплата:
                </p>
                <p class="plan__item-subtitle">
                  от&nbsp;3&nbsp;000 руб.&nbsp;— техническая поддержка
                </p>
              </div>
            </li>
          </ul>
          <div class="plan__app">
            <div class="plan__app-img">
              <img src="./img/app-screens.webp" alt="Приложение на экранах смартфонов" />
            </div>
            <div class="plan__app-bottom">
              <span class="plan__app-text">Скачайте пример приложения</span>
              <div class="plan__app-stores">
                <a href="#" target="_blank" class="plan__app-store" aria-label="Скачать приложение в App Store">
                  <img src="./img/icons/black-apple.svg" alt="App Store" />
                </a>
                <a href="#" target="_blank" class="plan__app-store" aria-label="Скачать приложение в Google Play">
                  <img src="./img/icons/black-google.svg" alt="Google Play" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="plans__info" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
        <div class="plans__chat">
          <div class="plans__chat-header">
            <div class="plans__chat-icon" aria-hidden="true"></div>
            <p class="plans__chat-title">
              *На&nbsp;тарифный план СТАНДАРТ можно скачать только PWA приложение
            </p>
          </div>
          <div class="plans__chat-desc">
            <p>
              PWA (progressive web application)&nbsp;&mdash; это веб-приложение,
              установленное на&nbsp;домашний экран. То&nbsp;есть ссылка
              на&nbsp;мобильную версию вашего сайта, которая отображается
              на&nbsp;главном экране телефона в&nbsp;виде ярлыка.
            </p>
          </div>
        </div>
        <div class="plans__info-right">
          <div class="plans__hint">
            <p class="plans__hint-title">
              Получи ответы на&nbsp;вопросы и&nbsp;расчитай стоимость
              персонального решения именно для Вас
            </p>
          </div>
          <a href="tel:+79528880888" class="btn btn-reset phone__btn" aria-label="Позвонить по телефону">
            <div class="phone__img" aria-hidden="true"></div>
            <span>+7 952 888 0 888</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="business__cover" aria-hidden="true">
    <img src="./img/cover.webp" alt="Декоративное изображение" />
  </div>
</section>