<section class="business" id="business" data-mouse-blue itemscope itemtype="https://schema.org/Product">
  <meta itemprop="name" content="Системы аналитики и маркетинга для ресторанного бизнеса">
  <meta itemprop="description"
    content="Возможности Sellkit для бизнес-аналитики и маркетинга - увеличивайте прибыль ресторана с помощью данных">

  <div class="business__header">
    <div class="container business__container">
      <div>
        <span class="business__label btn-label btn-reset">
          Маркетинг и&nbsp;аналитика
        </span>
      </div>
      <h2 class="business__title title2 title2--white" itemprop="slogan">
        весь бизнес в&nbsp;цифрах&nbsp;- увеличивайте прибыль с&nbsp;помощью
        данных
      </h2>
    </div>
  </div>
  <div class="business__body" data-loyal-items="2" itemprop="hasOfferCatalog" itemscope
    itemtype="https://schema.org/OfferCatalog">
    <div class="container">
      <div class="business__items" role="list" itemscope itemtype="https://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">
        <meta itemprop="numberOfItems" content="5">

        <div class="business__item loyal-item loyal-item--white" data-aos="draw-plus" data-aos-delay="0"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="1">
          <div class="loyal-item__content" data-aos="fade-up" data-aos-delay="100">
            <div class="loyal-item__fig">01</div>
            <p class="loyal-item__title" itemprop="name">Отчёты и&nbsp;аналитика</p>
            <p class="loyal-item__desc" itemprop="description">
              Автоматизированные отчёты по&nbsp;ключевым метрикам: выручка,
              средний чек, конверсия, популярность блюд, эффективность акций,
              push-кампаний, аналитика по&nbsp;франчайзи, по&nbsp;клиентам, RFM
              и&nbsp;LTV отчёты.
            </p>
          </div>
        </div>

        <div class="business__item loyal-item loyal-item--white" data-aos="draw-plus" data-aos-delay="200"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="2">
          <div class="loyal-item__content" data-aos="fade-up" data-aos-delay="300">
            <div class="loyal-item__fig">02</div>
            <p class="loyal-item__title" itemprop="name">Сегментация</p>
            <p class="loyal-item__desc" itemprop="description">
              Разделение клиентов на&nbsp;группы по&nbsp;поведению, заказам,
              демографии. Автоматические сегменты: &laquo;новички&raquo;,
              &laquo;постоянные&raquo;, &laquo;потерянные&raquo; Ручные фильтры:
              по&nbsp;сумме чека, частоте заказов, любимым блюдам
            </p>
          </div>
        </div>

        <div class="business__item loyal-item loyal-item--white" data-aos="draw-plus" data-aos-delay="400"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="3">
          <div class="loyal-item__content" data-aos="fade-up" data-aos-delay="500">
            <div class="loyal-item__fig">03</div>
            <p class="loyal-item__title" itemprop="name">PUSH-уведомления</p>
            <p class="loyal-item__desc" itemprop="description">
              Персонализированные сообщения в&nbsp;мобильное приложение.
              Используйте триггерные автоматические рассылки: брошенная корзина,
              день рождения, акция на&nbsp;любимое блюдо.
            </p>
          </div>
        </div>

        <div class="business__item loyal-item loyal-item--white" data-aos="draw-plus" data-aos-delay="600"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="4">
          <div class="loyal-item__content" data-aos="fade-up" data-aos-delay="700">
            <div class="loyal-item__fig">04</div>
            <p class="loyal-item__title" itemprop="name">конструктор акций</p>
            <p class="loyal-item__desc" itemprop="description">
              Инструмент для создания любых акций. Готовые шаблоны:
              &laquo;2&nbsp;по&nbsp;цене 1&raquo;, &laquo;Подарок
              за&nbsp;заказ&raquo;, &laquo;Скидка на&nbsp;комбо&raquo;, гибкие
              фильтры: по&nbsp;времени, сумме чека, категориям блюд, интеграция.
            </p>
          </div>
        </div>

        <div class="business__item loyal-item loyal-item--white" data-aos="draw-plus" data-aos-delay="800"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="5">
          <div class="loyal-item__content" data-aos="fade-up" data-aos-delay="900">
            <div class="loyal-item__fig">05</div>
            <p class="loyal-item__title" itemprop="name">ABC-АНАЛИЗ</p>
            <p class="loyal-item__desc" itemprop="description">
              Ранжирование блюд по&nbsp;прибыльности и&nbsp;популярности. Выгоды
              для ресторана: снижение затрат на&nbsp;кухню&nbsp;&mdash;
              закупаете только&nbsp;то, что хорошо продаётся; увеличение
              маржи&nbsp;&mdash; делаете акцент на&nbsp;прибыльных позициях.
            </p>
          </div>
        </div>
      </div>
      <div class="business__mob">
        <button class="btn-reset loyal-more-btn">Показать ещё</button>
      </div>
    </div>
  </div>
  <div class="business__marquee marquee" aria-hidden="true">
    <div class="marquee__row">
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
    </div>
    <div class="marquee__row">
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
      <span class="marquee__item">sellkit</span>
    </div>
  </div>
</section>