<section class="cases-hero" data-header="light">
  <div class="container">
    <span class="btn-label cases-hero__label">Наши клиенты</span>
    <h1 class="title2 cases-hero__title">
      примеры сайтов и&nbsp;приложений
    </h1>
    <p class="clients__desc desc2">
      <span>Ежедневно мы&nbsp;принимаем свыше 10&nbsp;000 онлайн-заказов и&nbsp;регистрируем более 1000 новых клиентов
        через
        нашу систему.</span>
      <span> Решение подойдёт для любого ресторана, кофейни или даркитчена.</span>
    </p>
    <div class="clients__wrapper">
      <div class="swiper clients__thumbs">
        <div class="clients__tabs clients__tabs--left swiper-wrapper" role="tablist">
          <button class="clients__tab btn-reset swiper-slide active" data-client="all" role="tab" aria-selected="true"
            aria-controls="all-clients">
            Все
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="mult" role="tab" aria-selected="false"
            aria-controls="mult-clients">
            Мультибренд
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="asia" role="tab" aria-selected="false"
            aria-controls="asia-clients">
            Азия
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="sushi" role="tab" aria-selected="false"
            aria-controls="sushi-clients">
            Суши, роллы
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="pizza" role="tab" aria-selected="false"
            aria-controls="pizza-clients">
            Пицца
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="street" role="tab" aria-selected="false"
            aria-controls="street-clients">
            Стритфуд
          </button>
          <button class="clients__tab btn-reset swiper-slide" data-client="rest" role="tab" aria-selected="false"
            aria-controls="rest-clients">
            Ресторан
          </button>
        </div>
      </div>
      <div class="clients__items clients__items--main" role="tabpanel" id="all-clients">
        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
            data-aos-easing="linear" data-aos-delay="0">
            <div class="card__labels">
              <div class="card__label">РЕСТОРАН</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/01.webp" width="" height="" loading="lazy" alt="Ресторан МИДИЙНОЕ МЕСТО" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/midiy.svg" width="" height="" loading="lazy" alt="Логотип МИДИЙНОЕ МЕСТО" />
              </div>
              <p class="card__title">МИДИЙНОЕ&nbsp;МЕСТО</p>
              <div class="card__links">
                <a href="#" target="_blank" aria-label="Скачать приложение МИДИЙНОЕ МЕСТО">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="mult, rest">
          <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
            data-aos-easing="linear" data-aos-delay="100">
            <div class="card__labels">
              <div class="card__label">мультибренд</div>
              <div class="card__label">РЕСТОРАН</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/02.webp" width="" height="" loading="lazy" alt="Ресторан ДЕНИС ИВАНОВ" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/di.svg" width="" height="" loading="lazy" alt="Логотип ДЕНИС ИВАНОВ" />
              </div>
              <p class="card__title">денис иванов</p>
              <div class="card__links">
                <a href="#" target="_blank" aria-label="Перейти на сайт ДЕНИС ИВАНОВ">Сайт</a>
                <a href="#" target="_blank" aria-label="Скачать приложение ДЕНИС ИВАНОВ">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="pizza">
          <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
            data-aos-easing="linear" data-aos-delay="200">
            <div class="card__labels">
              <div class="card__label">Пицца</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/03.webp" width="" height="" loading="lazy" alt="Пиццерия МАЛЕВИЧ" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/mae.svg" width="" height="" loading="lazy" alt="Логотип МАЛЕВИЧ" />
              </div>
              <p class="card__title">малевич</p>
              <div class="card__links">
                <a href="#" target="_blank" aria-label="Перейти на сайт МАЛЕВИЧ">Сайт</a>
                <a href="#" target="_blank" aria-label="Скачать приложение МАЛЕВИЧ">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="asia">
          <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
            data-aos-easing="linear" data-aos-delay="300">
            <div class="card__labels">
              <div class="card__label">азиатская кухня</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/04.webp" width="" height="" loading="lazy" alt="Ресторан KUKSU RAMEN" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/kuksu.svg" width="" height="" loading="lazy" alt="Логотип KUKSU RAMEN" />
              </div>
              <p class="card__title">KUKSU RAMEN</p>
              <div class="card__links">
                <a href="#" target="_blank" aria-label="Перейти на сайт KUKSU RAMEN">Сайт</a>
                <a href="#" target="_blank" aria-label="Скачать приложение KUKSU RAMEN">Приложение</a>
              </div>
            </div>
          </div>
        </div>

        <div class="clients__card card" data-client-card="sushi, pizza">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">Суши, роллы</div>
              <div class="card__label">пицца</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/05.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/panda.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">папа панда</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="street">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">стритфуд</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/06.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/ruki.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">Руки вверх</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">РЕСТОРАН</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/07.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/ogon.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">вокруг огня</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">ресторан</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/08.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/mama.svg" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">мама restaurant</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>

        <div class="clients__card card" data-client-card="asia">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">азиатская кухня</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/09.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/gills.svg" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">GILLS</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">ресторан</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/10.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/osteria.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">Osteria mario</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="street">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">стритфуд</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/11.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/evro.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">еврошаверма</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="street">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">стритфуд</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/12.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/mitchel.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">MITCHELl GRILL</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>

        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">ресторан</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/13.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/mr.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">MR. MEDIUM</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="coffee">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">кофейня</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/14.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/mel.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">мелберес кофе</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="pizza">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">пицца</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/15.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/tiger.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">тайгер пицца</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="mult">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">мультибренд</div>
              <div class="card__label">ресторан</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/16.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/2chiko.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">2chiko</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>

        <div class="clients__card card" data-client-card="rest">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">ресторан</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/17.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/gaviko.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">гивико</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="rest, sushi">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">ресторан</div>
              <div class="card__label">Роллы, суши</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/18.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/maki.svg" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">маки</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="sushi">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">Роллы, суши</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/19.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/fabric.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">фабрика печем и крутим</p>
              <div class="card__links">
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__card card" data-client-card="pizza">
          <div class="card__wrap">
            <div class="card__labels">
              <div class="card__label">пицца</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/20.webp" width="" height="" loading="lazy" alt="" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/birma.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <p class="card__title">бирма</p>
              <div class="card__links">
                <a href="#" target="_blank">Сайт</a>
                <a href="#" target="_blank">Приложение</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>