<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />

  <title>Кейсы и проекты SellKit | Истории успеха наших клиентов</title>
  <meta
    name="description"
    content="Реальные истории успеха ресторанов, использующих SellKit. Узнайте, как наши клиенты увеличили продажи и оптимизировали бизнес-процессы."
  />
  <meta
    name="keywords"
    content="кейсы ресторанов, истории успеха, внедрение автоматизации, примеры работ sellkit, результаты клиентов"
  />
  <meta name="author" content="SellKit" />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph соц. сети -->
  <meta property="og:type" content="website" />
  <meta
    property="og:url"
    content="https://daniil-fox.github.io/sellkit/cases.html"
  />
  <meta property="og:title" content="Истории успеха клиентов SellKit" />
  <meta
    property="og:description"
    content="Узнайте, как рестораны увеличивают продажи и оптимизируют бизнес с помощью SellKit. Реальные кейсы и результаты наших клиентов."
  />
  <meta property="og:image" content="/img/hero-thumb.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Истории успеха клиентов SellKit" />
  <meta
    name="twitter:description"
    content="Узнайте, как рестораны увеличивают продажи и оптимизируют бизнес с помощью SellKit. Реальные кейсы и результаты наших клиентов."
  />
  <meta name="twitter:image" content="/img/hero-thumb.jpg" />

  <!-- Canonical URL -->
  <link
    rel="canonical"
    href="https://daniil-fox.github.io/sellkit/cases.html"
  />

  <!-- Предзагрузка шрифтов -->
  <link
    rel="preload"
    href="fonts/BebasNeueCyrillic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/BebasNeueRegular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/BebasNeueBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-SemiBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <!-- Schema.org разметка -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "Article",
          "position": 1,
          "name": "Мидийное место",
          "description": "Как ресторан увеличил продажи на 40% с помощью мобильного приложения",
          "url": "https://daniil-fox.github.io/sellkit/cases.html#case1"
        },
        {
          "@type": "Article",
          "position": 2,
          "name": "Денис Иванов",
          "description": "Автоматизация сети ресторанов: от доставки до аналитики",
          "url": "https://daniil-fox.github.io/sellkit/cases.html#case2"
        }
      ]
    }
  </script>

  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
