<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />

  <title>
    SellKit Delivery - приложение для курьеров | Автоматизация доставки
  </title>
  <meta
    name="description"
    content="SellKit Delivery - мобильное приложение для курьеров с интеграцией iiko. Автоматическое назначение заказов, расчет времени и стоимости доставки, GPS-трекинг."
  />
  <meta
    name="keywords"
    content="приложение для курьеров, автоматизация доставки, курьерский софт, iiko delivery, GPS трекинг курьеров, управление доставкой"
  />
  <meta name="author" content="SellKit" />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph соц. сети -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sellkit.ru/courier.html" />
  <meta
    property="og:title"
    content="SellKit Delivery - умное приложение для курьеров"
  />
  <meta
    property="og:description"
    content="Автоматизируйте службу доставки с помощью мобильного приложения для курьеров. Интеграция с iiko, GPS-трекинг, автоматическое назначение заказов."
  />
  <meta property="og:image" content="./img/hero.webp" />

  <!-- Canonical URL -->
  <link rel="canonical" href="https://sellkit.ru/courier.html" />

  <!-- Предзагрузка шрифтов -->
  <link
    rel="preload"
    href="fonts/BebasNeueCyrillic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/BebasNeueRegular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/BebasNeueBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-SemiBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Inter-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <!-- Schema.org разметка -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "SellKit Delivery",
      "applicationCategory": "BusinessApplication",
      "operatingSystem": "Android, iOS",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "RUB"
      },
      "description": "Мобильное приложение для курьеров с интеграцией iiko",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.8",
        "ratingCount": "150"
      }
    }
  </script>

  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
