<section class="courier" id="courier" data-header="light" itemscope itemtype="https://schema.org/SoftwareApplication">
  <meta itemprop="name" content="Sellkit Delivery - курьерское приложение для ресторанов">
  <meta itemprop="applicationCategory" content="Доставка еды">
  <meta itemprop="operatingSystem" content="Android, iOS">
  <meta itemprop="offers" itemscope itemtype="https://schema.org/Offer">
  <meta itemprop="featureList" content="Автоматическая загрузка заказов из iiko">
  <meta itemprop="featureList" content="Отслеживание курьера на карте">
  <meta itemprop="featureList" content="Подключение внешних курьерских служб">
  <meta itemprop="featureList" content="Оптимизация логистики">

  <div class="courier__map-right" aria-hidden="true"></div>
  <div class="courier__inf info"></div>
  <div class="container">
    <div class="courier__container">
      <div class="courier__wrapper">
        <div class="courier__map-left">
          <div class="grad"></div>
        </div>
        <div class="courier__map" aria-label="Интерактивная карта доставки с маршрутом">
          <div class="prepare courier__prepare" itemscope itemtype="https://schema.org/DeliveryEvent">
            <div class="prepare__header">
              <div class="prepare__capture" itemprop="eventStatus">Приготовлен</div>
              <div class="prepare__time" itemprop="startDate">24.07.22 12:30</div>
            </div>
            <div class="prepare__body">
              <div class="prepare__item" itemprop="location" itemscope itemtype="https://schema.org/Place">
                <div class="prepare__wrap">
                  <div class="prepare__supercapture">Из&nbsp;ресторана</div>
                  <p class="prepare__address" itemprop="name">
                    Onegin Dacha, ул. Садовая, 543а
                  </p>
                  <div class="prepare__intime">16:35</div>
                </div>
                <button class="btn-reset prepare__btn  modal-btn">Начать доставку</button>
              </div>
              <div class="prepare__item" itemprop="deliveryMethod" itemscope
                itemtype="https://schema.org/DeliveryMethod">
                <div class="prepare__wrap">
                  <div class="prepare__supercapture">Доставить</div>
                  <p class="prepare__address" itemprop="address">
                    ул. Короленко, 211/2&nbsp;б, кв.&nbsp;12, подъезд&nbsp;4,
                    домофон&nbsp;15
                  </p>
                  <div class="prepare__intime">
                    <meta itemprop="deliveryTime" content="PT25M">16:55
                  </div>
                </div>
              </div>
            </div>

            <div class="map-path" aria-label="Маршрут доставки">
              <div class="map-path__to">
                <img src="./img/rest.svg" alt="Иконка ресторана" width="24" height="24" loading="lazy" />
              </div>
              <div class="map-path__path">
                <svg width="166" height="421" viewBox="0 0 166 421" fill="none" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true">
                  <path
                    d="M0.784088 32.7426L15.8716 2.17057C16.4623 0.973631 17.9139 0.485558 19.1078 1.08248L127.05 55.0534C128.239 55.6481 128.721 57.0945 128.126 58.284L117.287 79.9633C116.623 81.2904 117.306 82.896 118.722 83.3385L134.841 88.3756C135.798 88.6747 136.47 89.5361 136.527 90.5375L144.441 230.08C144.485 230.86 144.906 231.571 145.569 231.985L163.791 243.374C164.495 243.814 164.923 244.586 164.923 245.416V250.899C164.923 251.689 164.535 252.429 163.885 252.879L149.597 262.771C148.829 263.302 148.438 264.23 148.593 265.151L159.32 328.688C159.369 328.978 159.365 329.275 159.307 329.564L144.613 402.614C144.546 402.946 144.55 403.288 144.624 403.618L148.339 420.126"
                    stroke="#006AFF" stroke-width="1.5" stroke-dasharray="7.22 7.22" id="path" />
                </svg>
                <svg width="106" height="266" viewBox="0 0 106 266" fill="none" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true">
                  <path
                    d="M1.1615 20.6924L10.6964 1.37174C11.0697 0.615308 11.9871 0.306859 12.7416 0.684099L80.9578 34.7922C81.7095 35.1681 82.0142 36.0821 81.6383 36.8339L74.788 50.5346C74.3686 51.3733 74.8002 52.388 75.6952 52.6676L85.8816 55.8509C86.4867 56.04 86.9111 56.5843 86.947 57.2172L91.9487 145.404C91.9766 145.897 92.2424 146.346 92.6614 146.608L104.177 153.806C104.622 154.084 104.892 154.572 104.892 155.096V158.561C104.892 159.061 104.647 159.528 104.237 159.813L95.2072 166.064C94.7219 166.4 94.4746 166.986 94.5729 167.568L101.352 207.722C101.383 207.905 101.38 208.093 101.343 208.275L92.0572 254.441C92.0151 254.651 92.0175 254.867 92.0644 255.075L94.4119 265.508"
                    stroke="#006AFF" stroke-dasharray="4.57 4.57" />
                </svg>
              </div>
              <div class="map-path__from">
                <svg width="43" height="69" viewBox="0 0 43 69" fill="none" xmlns="http://www.w3.org/2000/svg"
                  aria-labelledby="mapMarkerTitle">
                  <title id="mapMarkerTitle">Метка доставки на карте</title>
                  <rect x="19.5505" y="23.5127" width="2.62427" height="45.4874" rx="1.31214" fill="#3F3F3F" />
                  <circle cx="21.3014" cy="21.7627" r="20.9942" fill="#006AFF" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="courier__body" data-loyal-items="2" itemscope itemtype="https://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">
        <meta itemprop="numberOfItems" content="4">

        <div class="courier__header" data-aos-anchor-placement="top-bottom" data-aos="fade-down">
          <span class="courier__label btn-label btn-reset">
            Курьерский софт
          </span>
          <h2 class="title2 title2--dark courier__title" itemprop="name">
            sellkit delivery&nbsp;&mdash;<br />приложение для&nbsp;ваших
            курьеров
          </h2>
        </div>
        <div class="courier__items">
          <div class="courier__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
            data-aos-delay="0" itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList">
            <meta itemprop="position" content="1">
            <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
              data-aos-delay="300">
              <div class="loyal-item__fig">01</div>
              <p class="loyal-item__title" itemprop="name">СМЕНЫ И&nbsp;ЗАКАЗЫ ЧЕРЕЗ IIKO</p>
              <p class="loyal-item__desc" itemprop="description">
                Автоматическая загрузка заказов из&nbsp;iiko&nbsp;&mdash;
                никаких ручных переносов. Гибкое планирование
                смен&nbsp;для&nbsp;курьеров. Снижение ошибок при передаче
                заказов. Экономия времени администраторов.
              </p>
            </div>
          </div>

          <div class="courier__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
            data-aos-delay="600" itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList">
            <meta itemprop="position" content="2">
            <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
              data-aos-delay="900">
              <div class="loyal-item__fig">02</div>
              <p class="loyal-item__title" itemprop="name">ОТСЛЕЖИВАНИЕ КУРЬЕРА</p>
              <p class="loyal-item__desc" itemprop="description">
                Трекинг на&nbsp;карте для точного контроля, прогноз времени
                доставки&nbsp;&mdash; клиенты всегда в&nbsp;курсе, когда приедет
                заказ, история маршрутов для анализа эффективности.
              </p>
            </div>
          </div>

          <div class="courier__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
            data-aos-delay="1200" itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList">
            <meta itemprop="position" content="3">
            <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
              data-aos-delay="1500">
              <div class="loyal-item__fig">03</div>
              <p class="loyal-item__title" itemprop="name">партнёрские курьеры</p>
              <p class="loyal-item__desc" itemprop="description">
                Подключение внешних курьерских служб, автоматическое
                распределение заказов между своими и&nbsp;партнёрскими
                курьерами, единый интерфейс управления для всех типов доставки.
              </p>
            </div>
          </div>

          <div class="courier__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
            data-aos-delay="1800" itemprop="itemListElement" itemscope itemtype="https://schema.org/ItemList">
            <meta itemprop="position" content="4">
            <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
              data-aos-delay="2100">
              <div class="loyal-item__fig">04</div>
              <p class="loyal-item__title" itemprop="name">Оптимизация логистики</p>
              <p class="loyal-item__desc" itemprop="description">
                Приложение строит оптимальные маршруты с&nbsp;учетом: пробок
                и&nbsp;закрытых дорог, очередности заказов, времени
                приготовления блюд. Есть возможность ручной корректировки.
              </p>
            </div>
          </div>
        </div>

        <div class="courier__mob">
          <button class="btn-reset loyal-more-btn loyal-more-btn-dark">Показать ещё</button>
        </div>
      </div>
    </div>
  </div>
</section>