<section class="cta" data-mouse-blue>
  <div class="container">
    <div class="cta__content">
      <div class="cta__wrapper">
        <h2 class="title2 title2--white cta__title">
          Давайте покажем, как&nbsp;все&nbsp;работает
        </h2>
        <form action="#" class="cta__form form">
          <div class="form__fields">
            <input
              type="text"
              placeholder="Ваше имя"
              name="Имя"
              class="form__input"
            />
            <input
              type="tel"
              placeholder="Номер телефона"
              name="Телефон"
              class="form__input"
            />
            <input
              type="text"
              placeholder="Название проекта"
              name="Название проекта"
              class="form__input"
            />
            <input
              type="text"
              placeholder="Город"
              name="Город"
              class="form__input"
            />
          </div>
          <button class="btn-reset btn btn--white form__btn">продолжить</button>
          <small class="form__agree">
            Нажимая кнопку «Продолжить», вы&nbsp;принимаете
            <a href="#">политику обработки персональных данных</a>
          </small>
        </form>
      </div>

      <div class="cta__phone cta__phone--1"></div>
      <div class="cta__phone cta__phone--2"></div>
      <div class="cta__phone cta__phone--3"></div>
    </div>
  </div>
</section>
