<section class="cta" data-aos-anchor-placement="top-bottom" data-aos="fade-up" itemscope
  itemtype="https://schema.org/Organization">
  <meta itemprop="name" content="SellKit">
  <meta itemprop="description" content="Система автоматизации ресторанного бизнеса">

  <div class="container">
    <div class="cta__content" data-mouse-blue>
      <div class="cta__wrapper">
        <h2 class="title2 title2--white cta__title" id="cta-title">
          Давайте покажем, как&nbsp;все&nbsp;работает
        </h2>
        <form action="#" class="cta__form form">
          <div itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
            <meta itemprop="contactType" content="sales" />
            <meta itemprop="availableLanguage" content="Russian" />
            <div class="form__fields">
              <div class="form__field">
                <input type="text" placeholder="Ваше имя" name="ur-name" class="form__input input-name"
                  aria-label="Введите ваше имя" autocomplete="name" required />
              </div>
              <div class="form__field">
                <input type="tel" placeholder="Номер телефона" name="ur-phone" class="form__input input-tel"
                  itemprop="telephone" aria-label="Введите номер телефона" autocomplete="tel" required />
              </div>
              <div class="form__field">
                <input type="text" placeholder="Название проекта" name="ur-rest" class="form__input input-project"
                  aria-label="Введите название проекта" autocomplete="off" required />
              </div>
              <div class="form__field">
                <input type="text" placeholder="Город" name="ur-city" class="form__input input-city"
                  itemprop="areaServed" aria-label="Введите ваш город" autocomplete="address-level2" required />
              </div>
            </div>
          </div>
          <button class="btn-reset btn btn--white form__btn">продолжить</button>
          <small class="form__agree">
            Нажимая кнопку "Продолжить", вы&nbsp;принимаете
            <a href="/policy.pdf" target="_blank" itemprop="termsOfService">политику обработки персональных данных</a>
          </small>
        </form>
      </div>

      <div class="cta__phone cta__phone--1" aria-hidden="true"></div>
      <div class="cta__phone cta__phone--2" aria-hidden="true"></div>
      <div class="cta__phone cta__phone--3" aria-hidden="true"></div>
    </div>
  </div>
</section>