<section class="delivery" data-header="light">
  <div class="delivery__shapes">
    <div class="delivery__star delivery__star--1"></div>
    <div class="delivery__star delivery__star--2"></div>
    <div class="delivery__star delivery__star--3"></div>
    <div class="delivery__star delivery__star--4"></div>
    <div class="delivery__star delivery__star--5"></div>
    <div class="delivery__star delivery__star--6"></div>
    <div class="delivery__star delivery__star--7"></div>
    <div class="delivery__star delivery__star--8"></div>
  </div>
  <div class="container">
    <div class="delivery__header" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
      <div class="delivery__left">
        <span class="delivery__label btn-label btn-reset">
          Подробнее о&nbsp;возможностях
        </span>
      </div>
      <div class="delivery__right">
        <h2 class="title1 delivery__title">
          <span>приложение и&nbsp;сайт</span>
          <span>доставки&nbsp;еды</span>
        </h2>

        <p class="delivery__desc desc2 desc2--white">
          Наши сайты и&nbsp;приложения отличаются простотой в&nbsp;использовании
          и&nbsp;настраиваются под любые потребности вашего ресторана.
          Мы&nbsp;предлагаем вам&nbsp;современный и&nbsp;функциональный
          инструмент, который не&nbsp;только улучшит качество обслуживания,
          но&nbsp;и&nbsp;поможет автоматизировать рабочие процессы, а&nbsp;также
          увеличит количество заказов.
        </p>

        <button class="btn btn-reset delivery__btn">
          запланировать презентацию
        </button>
      </div>
    </div>
    <div class="delivery__wrap" data-delivery-items="3">
      <div class="delivery__items">
        <div class="delivery-item d-item active" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 01 ]</span>
            <span class="d-item__title">бонусные баллы</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Кешбэк в&nbsp;приложении для доставки еды&nbsp;&mdash; инструмент
                для роста продаж и&nbsp;лояльности. Ключевые преимущества для
                ресторанов:
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Кешбэк в&nbsp;приложении для доставки еды&nbsp;&mdash;
                  инструмент для роста продаж и&nbsp;лояльности. Ключевые
                  преимущества для ресторанов:
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Увеличение среднего чека</p>
                  <p class="d-ben__text">
                    Клиенты чаще заказывают и&nbsp;дополняют корзину, чтобы
                    быстрее накопить баллы.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Стимул заказывать через ваше приложение
                  </p>
                  <p class="d-ben__text">
                    Снижается зависимость от&nbsp;агрегаторов&nbsp;&mdash; гости
                    переходят в&nbsp;вашу экосистему.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Программы лояльности с&nbsp;уровнями
                  </p>
                  <p class="d-ben__text">
                    Настройте ступенчатую систему кешбэка (3% для новых,
                    5%&nbsp;для постоянных, 10% для VIP). Клиенты будут стремиться
                    к&nbsp;статусу
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Эксклюзивные &laquo;блюда за&nbsp;баллы&raquo;
                  </p>
                  <p class="d-ben__text">
                    Например, десерт или напиток в&nbsp;подарок. Это&nbsp;повышает
                    лояльность без ущерба марже.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Лояльность от&nbsp;SellKit или интеграции
                  </p>
                  <p class="d-ben__text">
                    У&nbsp;нас есть собственная система лояльности,
                    интегрированная с&nbsp;iiko card, карточка лояльности для
                    начисления и&nbsp;списания бонусов офлайн. Также есть готовые
                    интеграции с&nbsp;популярными системами.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 02 ]</span>
            <span class="d-item__title">гибкие Зоны доставки</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Гибкая система доставки&nbsp;&mdash; максимум покрытия
                и&nbsp;контроль логистикидарки, промокоды, push, счастливые часы
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Гибкая система доставки&nbsp;&mdash; максимум покрытия
                  и&nbsp;контроль логистики
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Точечная настройка зон доставки</p>
                  <p class="d-ben__text">
                    &rarr; Устанавливайте разные цены и&nbsp;сроки для каждой зоны
                    на&nbsp;карте.<br />
                    &rarr; Автоматический расчёт стоимости и&nbsp;времени доставки
                    без ручных правок.<br />
                    &rarr; Ночные полигоны. &rarr; Экспресс доставка&nbsp;&mdash;
                    возможность гостю доплатить за&nbsp;&laquo;скорость
                    доставки&raquo;, выбрав такой тариф.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Расширение зоны покрытия без лишних затрат
                  </p>
                  <p class="d-ben__text">
                    Интеграция с&nbsp;Яндекс Доставкой для заказов
                    за&nbsp;пределами вашей зоны. Ваши клиенты получают еду даже
                    в&nbsp;отдалённые районы, а&nbsp;вы&nbsp;&mdash;
                    дополнительный трафик без расширения штата курьеров. При этом
                    вы&nbsp;не&nbsp;платите комиссию!
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Прозрачность для клиентов</p>
                  <p class="d-ben__text">
                    Точное отслеживание курьера в&nbsp;реальном
                    времени&nbsp;&mdash; клиент видит маршрут и&nbsp;время
                    прибытия прямо в&nbsp;приложении.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Автоматическое обновление статусов</p>
                  <p class="d-ben__text">
                    Никаких &laquo;забытых&raquo; заказов.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 03 ]</span>
            <span class="d-item__title">управление акциями</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Мощный конструктор акций&nbsp;&mdash; увеличивайте продажи
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Мощный конструктор акций&nbsp;&mdash; увеличивайте продажи
                  и&nbsp;лояльность без ограничений. Наш конструктор акций
                  позволяет создавать любые промо-механики&nbsp;&mdash;
                  от&nbsp;простых скидок до&nbsp;сложных многоуровневых программ.
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Автоматические и&nbsp;промокодные акции
                  </p>
                  <p class="d-ben__text">
                    Скидки на&nbsp;категории, наборы, время или сумму заказа.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Подарки к&nbsp;заказу</p>
                  <p class="d-ben__text">
                    Бесплатный десерт, напиток или любой продукт при достижении
                    условий.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Программы лояльности</p>
                  <p class="d-ben__text">
                    &laquo;7-й кофе в&nbsp;подарок&raquo;, накопительные скидки,
                    персональные предложения, блюда за&nbsp;баллы, кешбэк.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">50+&nbsp;фильтров</p>
                  <p class="d-ben__text">
                    Настройка акции, PUSH, промокода по&nbsp;времени, локации,
                    клиентам, среднему чеку и&nbsp;другим параметрам
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Полная синхронизация с&nbsp;iikoCard
                  </p>
                  <p class="d-ben__text">
                    Автоматическая выгрузка существующих акций. Возможность
                    дополнять и&nbsp;загруженные акции доп. условиями в&nbsp;нашей
                    системе.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Глубокая аналитика</p>
                  <p class="d-ben__text">
                    Отчёты каждой акции в&nbsp;реальном времени.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Пуш-уведомления</p>
                  <p class="d-ben__text">
                    Автоматически информируем клиентов о&nbsp;персональных
                    предложениях
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Разделение по&nbsp;точкам</p>
                  <p class="d-ben__text">
                    Для сетей у&nbsp;нас есть специальные решения
                    по&nbsp;централизованному управлению акциями во&nbsp;всех
                    точках.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 04 ]</span>
            <span class="d-item__title">добавки к&nbsp;блюдам</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Гибкие модификаторы блюд&nbsp;&mdash; повышаем средний чек
                и&nbsp;удовлетворенность клиентов.
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Гибкие модификаторы блюд&nbsp;&mdash; повышаем средний чек
                  и&nbsp;удовлетворенность клиентов.
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Платные добавки</p>
                  <p class="d-ben__text">
                    Сырный бортик, двойная порция бекона, авторские
                    соусы&nbsp;&mdash; любые дополнения с&nbsp;наценкой. Красивое
                    визуальное оформление (фото ингредиентов) для повышения
                    конверсии.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Размерность и&nbsp;варианты приготовления
                  </p>
                  <p class="d-ben__text">
                    &rarr; Пицца 20/30/40&nbsp;см, тесто
                    (тонкое/традиционное/сырное)<br />
                    &rarr; Стейки прожарки (Medium/Rare/Well Done)<br />
                    &rarr; Настройка любых параметров под специфику кухни
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Технические особенности:</p>
                  <p class="d-ben__text">
                    &rarr; Группировка модификаторов
                    (обязательные/опциональные)<br />
                    &rarr; Ограничение по&nbsp;количеству выборов (например,
                    не&nbsp;более 3&nbsp;топпингов)<br />
                    &rarr; Интеграция со&nbsp;стоп-листами
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Сделайте ваше меню по-настоящему гибким!
                  </p>
                  <p class="d-ben__text">
                    Хотите увидеть, как это работает в&nbsp;реальном интерфейсе?
                    Закажите демонстрацию системы.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 05 ]</span>
            <span class="d-item__title">доработки функций</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Персонализация системы под ваши уникальные задачи
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Персонализация системы под ваши уникальные задачи
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Адаптация под ваши бизнес-процессы</p>
                  <p class="d-ben__text">
                    Мы&nbsp;предлагаем точечную доработку платформы специально под
                    ваши бизнес-процессы. Приложение/ сайт будет не&nbsp;просто
                    &laquo;коробочным&raquo; решением, а&nbsp;идеально заточенным
                    инструментом под вас.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Конкурентное преимущество</p>
                  <p class="d-ben__text">
                    У&nbsp;других ресторанов такого точно не&nbsp;будет.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Ускорение бизнес-процессов</p>
                  <p class="d-ben__text">
                    Система работает так, как удобно именно вам.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Эксклюзивные интеграции</p>
                  <p class="d-ben__text">
                    Сделаем любую интеграцию, которой у&nbsp;нас еще нет
                    специально для вас.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Как это работает?</p>
                  <div class="d-ben__text">
                    <ol>
                      <li>Обсуждаем&nbsp;ваши боли и желания.</li>
                      <li>
                        Предлагаем&nbsp;решения (или дорабатываем ваши идеи).
                      </li>
                      <li>Внедряем&nbsp;и тестируем.</li>
                      <li>
                        Анализируем&nbsp;результат и при необходимости
                        корректируем.
                      </li>
                    </ol>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 06 ]</span>
            <span class="d-item__title">PUSH-уведомления</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Увеличивайте продажи с&nbsp;помощью персонализированных
                коммуникаций
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Увеличивайте продажи с&nbsp;помощью персонализированных
                  коммуникаций
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Персонализированные рассылки</p>
                  <p class="d-ben__text">
                    Обращение по&nbsp;имени, учёт истории заказов, рекомендации
                    на&nbsp;основе предпочтений.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Автоматические рассылки по&nbsp;сегментам
                  </p>
                  <p class="d-ben__text">
                    Настройка рассылок по&nbsp;различным параметрам:
                    по&nbsp;демографии (пол, возраст), по&nbsp;активности
                    (новички, постоянные), по&nbsp;предпочтениям (любимые
                    категории блюд)
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Глубокая аналитика эффективности</p>
                  <p class="d-ben__text">
                    Отслеживайте показатели в&nbsp;специальных отчётах
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Примеры эффективных сценариев:</p>
                  <p class="d-ben__text">
                    &rarr; Напоминание о&nbsp;брошенной корзине (+15%
                    к&nbsp;завершённым заказам)<br />
                    &rarr; Персональное предложение на&nbsp;День рождения (+25%
                    конверсии)<br />
                    &rarr; Эксклюзивный промокод для &laquo;засыпающих&raquo;
                    клиентов
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Преимущества для&nbsp;ресторанов:</p>
                  <p class="d-ben__text">
                    &rarr; До&nbsp;+30% повторных заказов<br />
                    >&rarr; Увеличение LTV клиента<br />
                    >&rarr; Полный контроль коммуникаций в&nbsp;одном интерфейсе
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Технологические особенности::</p>
                  <p class="d-ben__text">
                    &rarr; Интеллектуальное время отправки<br />
                    &rarr; Автоматические триггерные цепочки<br />
                    &rarr; Гибкие шаблоны сообщений<br />
                    &rarr; Интеграция с&nbsp;программами лояльности
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 07 ]</span>
            <span class="d-item__title">брендированный дизайн</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Узнаваемый фирменный стиль в&nbsp;вашем сайте или приложении
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Узнаваемый фирменный стиль в&nbsp;вашем сайте или приложении
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">Визуальная адаптация</p>
                  <p class="d-ben__text">
                    Цветовая схема в&nbsp;фирменных тонах, логотип
                    и&nbsp;бренд-элементы, ваши картинки/видео на&nbsp;главной
                    странице или на&nbsp;заставке, уникальные иконки
                    и&nbsp;иллюстрации.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Эксклюзивный пользовательский опыт</p>
                  <p class="d-ben__text">
                    Поставим ваши фирменные шрифты, сделаем анимации
                    по&nbsp;вашему пожеланию, кастомные баннеры и&nbsp;сторис.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Усиление лояльности</p>
                  <p class="d-ben__text">Клиенты ощущают связь с&nbsp;брендом</p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Отстройка от&nbsp;конкурентов</p>
                  <p class="d-ben__text">Уникальный дизайн выделяет вас</p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>

        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 08 ]</span>
            <span class="d-item__title">Сбор отзывов и&nbsp;оценок</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Автоматизированный сбор обратной связи, который работает
                на&nbsp;ваш ресторан
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Автоматизированный сбор обратной связи, который работает
                  на&nbsp;ваш ресторан
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Наша система превращает каждого клиента в&nbsp;источник ценной
                    информации для вашего бизнеса, помогая:
                  </p>
                  <p class="d-ben__text">
                    &rarr; Улучшать качество сервиса<br />
                    &rarr; Повышать доверие новых клиентов<br />
                    &rarr; Увеличивать повторные заказы<br />
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Как это работает?</p>
                  <p class="d-ben__text">
                    После завершения заказа клиент получает: Пуш-уведомление
                    с&nbsp;просьбой оценить заказ Простой интерфейс для
                    выставления оценки (1&ndash;5&nbsp;звёзд) Возможность оставить
                    комментарий
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">&laquo;Умный&raquo; сбор отзывов</p>
                  <p class="d-ben__text">
                    &rarr; Для положительных оценок (4&ndash;5&nbsp;звёзд):<br />
                    &rarr; Кнопка &laquo;Расскажите, что вам понравилось&raquo;
                    (выбор из&nbsp;<br />списка: &laquo;Вкус блюд&raquo;,
                    &laquo;Скорость доставки&raquo; и&nbsp;др.) &rarr;
                    Автоматическая просьба оставить отзыв в&nbsp;Google/Яндекс<br />
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Обработка негативных отзывов (1&ndash;3&nbsp;звезды):
                  </p>
                  <p class="d-ben__text">
                    &rarr; Детальный опрос &laquo;Что не&nbsp;понравилось?&raquo;
                    <br />с&nbsp;конкретными вариантами &rarr; Автоматическое
                    уведомление менеджера для оперативного реагирования<br />
                    &rarr; Возможность предложить компенсацию (промокод,
                    бонусы)<br />
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Дополнительные функции</p>
                  <p class="d-ben__text">
                    &rarr; Детальный опрос &laquo;Что не&nbsp;понравилось?&raquo;
                    с&nbsp;конкретными вариантами<br />
                    &rarr; Автоматическое уведомление менеджера для оперативного
                    реагирования<br />
                    &rarr; Возможность предложить компенсацию (промокод, бонусы)
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>

        <div class="delivery-item d-item" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">
          <button class="btn-reset d-item__header">
            <span>[ 09 ]</span>
            <span class="d-item__title">мультибренд</span>
          </button>
          <div class="d-item__content">
            <div class="d-item__top">
              <p class="d-item__excerpt">
                Мультибрендовая платформа&nbsp;&mdash; управляйте всеми вашими
                ресторанами в&nbsp;единой системе
              </p>
            </div>
            <div class="d-item__text">
              <div class="d-item__video">
                <p class="d-item__desc">
                  Мультибрендовая платформа&nbsp;&mdash; управляйте всеми вашими
                  ресторанами в&nbsp;единой системе
                </p>
                <div class="d-item__wrapper">
                  <video src=""></video>
                  <button class="btn-reset d-item__play">
                    <svg width="43" height="49" viewBox="0 0 43 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M43 24.4985L3.8147e-06 48.9985L3.8147e-06 -0.00146484L43 24.4985Z" />
                    </svg>
                  </button>
                </div>
              </div>
              <ul class="d-item__list list-reset">
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Один аккаунт&nbsp;&mdash; полный контроль над сетью заведений
                  </p>
                  <p class="d-ben__text">
                    Наша система мультибрендового управления создана специально
                    для ресторанных групп и&nbsp;сетей, позволяя: централизованно
                    управлять несколькими брендами, сохранять уникальность каждого
                    заведения, оптимизировать операционные процессы.
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">
                    Индивидуальные настройки для каждого бренда
                  </p>
                  <p class="d-ben__text">
                    &rarr; Уникальные дизайны приложений<br />
                    &rarr; Разные меню и&nbsp;ассортимент<br />
                    &rarr; Собственные программы лояльности<br />
                    &rarr; Своя CRM&nbsp;&mdash; отдельные клиентские базы,
                    сегменты, коммуникации, персональная аналитика<br />
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Технические особенности:</p>
                  <p class="d-ben__text">
                    &rarr; Раздельные базы меню и&nbsp;прайсов<br />
                    &rarr; Общая клиентская база с&nbsp;сегментацией<br />
                    &rarr; Единая система лояльности с&nbsp;разными условиями<br />
                    &rarr; Индивидуальные зоны доставки для каждого бренда<br />
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Преимущества для вашего бизнеса</p>
                  <div class="d-ben__text">
                    <ol>
                      <li>
                        Экономия до&nbsp;40% на&nbsp;обслуживании&nbsp;&mdash;
                        один технический ресурс&nbsp;для всех брендов
                      </li>
                      <li>
                        Гибкость управления&nbsp;&mdash; общие настройки
                        и&nbsp;индивидуальные особенности
                      </li>
                      <li>
                        Кросс-продажи&nbsp;&mdash; возможность взаимного
                        продвижения брендов
                      </li>
                      <li>
                        Масштабируемость&nbsp;&mdash; лёгкое добавление новых
                        заведений
                      </li>
                    </ol>
                  </div>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Преимущества для&nbsp;ресторанов:</p>
                  <p class="d-ben__text">
                    &rarr; До&nbsp;+30% повторных заказов<br />
                    >&rarr; Увеличение LTV клиента<br />
                    >&rarr; Полный контроль коммуникаций в&nbsp;одном интерфейсе
                  </p>
                </li>
                <li class="d-ben">
                  <p class="d-ben__capture">Технологические особенности::</p>
                  <p class="d-ben__text">
                    &rarr; Интеллектуальное время отправки<br />
                    &rarr; Автоматические триггерные цепочки<br />
                    &rarr; Гибкие шаблоны сообщений<br />
                    &rarr; Интеграция с&nbsp;программами лояльности
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <span class="d-item__btn btn-reset">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 18.9985V0.998535M1 9.99854H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 0.998535H19" stroke="white" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </span>
        </div>
      </div>
      <div class="delivery__mob">
        <div class="loyal-more-btn delivery-more-btn">Показать ещё</div>
      </div>
    </div>

    <div class="delivery__ready ready">
      <div class="ready__wrapper">
        <div class="ready__content">
          <h2 class="title2 centered title2--white ready__title">
            готовые интеграции
          </h2>

          <div class="ready__items integrate">
            <div class="integrate__center spider">
              <div class="spider__left">
                <div class="integrate__item integrate__item--1">
                  <img src="./img/ready/01.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--2">
                  <img src="./img/ready/02.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--3">
                  <img src="./img/ready/03.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--4">
                  <img src="./img/ready/04.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--5">
                  <img src="./img/ready/05.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--6">
                  <img src="./img/ready/06.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--7">
                  <img src="./img/ready/07.svg" width="" height="" loading="lazy" alt="" />
                </div>

                <svg width="446" height="392" viewBox="0 0 446 392" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M446 195.998H415.429C397.203 195.998 382.429 181.223 382.429 162.998V87.8581C382.429 69.6327 367.654 54.8581 349.429 54.8581H255.286M1 -0.00195312V21.8581C1 40.0835 15.7746 54.8581 34 54.8581H128.143M128.143 54.8581V-0.00195312M128.143 54.8581H255.286M255.286 54.8581V-0.00195312"
                    stroke="url(#paint0_linear_1_1418)" stroke-linejoin="round" />
                  <path
                    d="M446 195.998H415.429C397.203 195.998 382.429 210.773 382.429 228.998V304.138C382.429 322.363 367.654 337.138 349.429 337.138H255.286M1 391.998V370.138C1 351.913 15.7746 337.138 34 337.138H128.143M128.143 337.138V391.998M128.143 337.138H255.286M255.286 337.138V391.998"
                    stroke="url(#paint1_linear_1_1418)" stroke-linejoin="round" />
                  <path d="M408 195.998L179 195.998" stroke="url(#paint2_linear_1_1418)" />
                  <defs>
                    <linearGradient id="paint0_linear_1_1418" x1="223" y1="56.998" x2="223.5" y2="-0.00195164"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_1_1418" x1="223" y1="334.998" x2="223.5" y2="391.998"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_1_1418" x1="179.509" y1="195.998" x2="411.053" y2="195.998"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.39" stop-color="white" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg width="200" height="170" viewBox="0 0 200 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 144.95V144.95C100.277 136.608 107.121 129.988 115.468 129.988H155.412C164.656 129.988 172.149 122.494 172.149 113.25L172.149 112.977M200 0.581039H188.887C179.643 0.581039 172.149 8.07474 172.149 17.3187L172.149 57.9922M172.149 57.9922H200M172.149 57.9922L172.149 112.977M172.149 112.977H200"
                    stroke="url(#paint0_linear_47_5851)" stroke-linejoin="round" />
                  <path
                    d="M100 144.95V144.95C99.7226 136.608 92.8793 129.988 84.5321 129.988H44.5882C35.3443 129.988 27.8506 122.494 27.8506 113.25L27.8506 112.977M0 0.581039H11.1129C20.3569 0.581039 27.8506 8.07474 27.8506 17.3187L27.8506 57.9922M27.8506 57.9922H0M27.8506 57.9922L27.8506 112.977M27.8506 112.977H0"
                    stroke="url(#paint1_linear_47_5851)" stroke-linejoin="round" />
                  <path d="M100 73.7154L100 169.581" stroke="url(#paint2_linear_47_5851)" />
                  <defs>
                    <linearGradient id="paint0_linear_47_5851" x1="171.063" y1="92.4183" x2="199.999" y2="92.7298"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_47_5851" x1="28.9369" y1="92.4183" x2="0.00110219" y2="92.7298"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_47_5851" x1="100" y1="169.368" x2="100" y2="72.4372"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0.61" stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div class="integrate__item integrate__item--logo int-logo">
                <div class="int-logo__wrapper">
                  <div class="int-logo__logo">
                    <img src="./img/ready/sk.svg" width="" height="" loading="lazy" alt="" />
                  </div>
                </div>
              </div>
              <div class="spider__right">
                <svg width="446" height="392" viewBox="0 0 446 392" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 195.998H30.5714C48.7968 195.998 63.5714 181.223 63.5714 162.998V87.8581C63.5714 69.6327 78.346 54.8581 96.5714 54.8581H190.714M445 -0.00195312V21.8581C445 40.0835 430.225 54.8581 412 54.8581H317.857M317.857 54.8581V-0.00195312M317.857 54.8581H190.714M190.714 54.8581V-0.00195312"
                    stroke="url(#paint0_linear_1_1340)" stroke-linejoin="round" />
                  <path
                    d="M0 195.998H30.5714C48.7968 195.998 63.5714 210.773 63.5714 228.998V304.138C63.5714 322.363 78.346 337.138 96.5714 337.138H190.714M445 391.998V370.138C445 351.913 430.225 337.138 412 337.138H317.857M317.857 337.138V391.998M317.857 337.138H190.714M190.714 337.138V391.998"
                    stroke="url(#paint1_linear_1_1340)" stroke-linejoin="round" />
                  <path d="M268 195.998L39 195.998" stroke="url(#paint2_linear_1_1340)" />
                  <defs>
                    <linearGradient id="paint0_linear_1_1340" x1="223" y1="56.998" x2="222.5" y2="-0.00195164"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_1_1340" x1="223" y1="334.998" x2="222.5" y2="391.998"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_1_1340" x1="39.5089" y1="195.998" x2="271.053" y2="195.998"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0.61" stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
                <svg width="200" height="170" viewBox="0 0 200 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M100 24.5698V24.5698C100.277 32.8913 107.104 39.4937 115.43 39.4937L155.412 39.4937C164.656 39.4937 172.149 46.9874 172.149 56.2313L172.149 56.4611M200 168.57H188.887C179.643 168.57 172.149 161.076 172.149 151.832L172.149 111.305M172.149 111.305H200M172.149 111.305L172.149 56.4611M172.149 56.4611H200"
                    stroke="url(#paint0_linear_47_6250)" stroke-linejoin="round" />
                  <path
                    d="M100 24.5698V24.5698C99.7226 32.8913 92.8964 39.4937 84.5704 39.4937L44.5882 39.4937C35.3443 39.4937 27.8506 46.9874 27.8506 56.2313L27.8506 56.4611M0 168.57H11.1129C20.3569 168.57 27.8506 161.076 27.8506 151.832L27.8506 111.305M27.8506 111.305H0M27.8506 111.305L27.8506 56.4611M27.8506 56.4611H0"
                    stroke="url(#paint1_linear_47_6250)" stroke-linejoin="round" />
                  <path d="M100 95.6225L100 0.00195312" stroke="url(#paint2_linear_47_6250)" />
                  <defs>
                    <linearGradient id="paint0_linear_47_6250" x1="171.063" y1="76.9674" x2="199.999" y2="76.6551"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_47_6250" x1="28.9369" y1="76.9674" x2="0.00111941" y2="76.6551"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_47_6250" x1="100" y1="0.214443" x2="100" y2="96.8974"
                      gradientUnits="userSpaceOnUse">
                      <stop offset="0.61" stop-color="white" />
                      <stop offset="1" stop-color="white" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
                <div class="integrate__item integrate__item--8">
                  <img src="./img/ready/08.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--9">
                  <img src="./img/ready/09.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--10">
                  <img src="./img/ready/10.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--11">
                  <img src="./img/ready/11.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--12">
                  <img src="./img/ready/12.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--13">
                  <img src="./img/ready/13.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <div class="integrate__item integrate__item--14">
                  <img src="./img/ready/14.svg" width="" height="" loading="lazy" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>