<section class="faq" itemscope itemtype="https://schema.org/FAQPage">
  <div class="container">
    <div class="faq__container">
      <div class="faq__left" data-aos-anchor-placement="top-bottom" data-aos="fade-right">
        <div>
          <p class="faq__desc">
            Если останутся вопросы, ответ на&nbsp;которые найти не&nbsp;удалось&nbsp;- напишите нам в&nbsp;Telegram
          </p>
          <a href="#" target="_blank" class="btn btn-reset faq__btn">
            задать вопрос
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.9373 2.2294L18.6173 18.3531C18.3667 19.4909 17.7137 19.7741 16.7856 19.2384L11.7267 15.3995L9.28602 17.8174C9.01565 18.0957 8.79008 18.328 8.2691 18.328L8.63302 13.0228L18.0084 4.29853C18.4162 3.92467 17.9196 3.71665 17.375 4.09142L5.7844 11.6075L0.794635 9.99869C-0.290564 9.64987 -0.310203 8.88121 1.02095 8.34469L20.5379 0.601197C21.4415 0.252432 22.232 0.807549 21.9373 2.2294Z" />
            </svg>
          </a>
        </div>
        <a href="#" target="_blank" class="faq__link">
          Какой тариф выбрать? Как&nbsp;понять, что&nbsp;мне подойдёт?
        </a>
      </div>
      <div class="faq__content">
        <span class="faq__label btn-label" data-aos-anchor-placement="top-bottom" data-aos="fade-down">FAQ</span>
        <h2 class="title2 faq__title" data-aos-anchor-placement="top-bottom" data-aos="fade-down">
          Отвечаем на&nbsp;часто задаваемые вопросы
        </h2>
        <div class="faq__mob">
          <p class="faq__desc">
            Если останутся вопросы, ответ на&nbsp;которые найти не&nbsp;удалось&nbsp;- напишите нам в&nbsp;Telegram
          </p>
          <a href="#" target="_blank" class="btn btn-reset faq__btn">
            задать вопрос
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.9373 2.2294L18.6173 18.3531C18.3667 19.4909 17.7137 19.7741 16.7856 19.2384L11.7267 15.3995L9.28602 17.8174C9.01565 18.0957 8.79008 18.328 8.2691 18.328L8.63302 13.0228L18.0084 4.29853C18.4162 3.92467 17.9196 3.71665 17.375 4.09142L5.7844 11.6075L0.794635 9.99869C-0.290564 9.64987 -0.310203 8.88121 1.02095 8.34469L20.5379 0.601197C21.4415 0.252432 22.232 0.807549 21.9373 2.2294Z" />
            </svg>
          </a>
        </div>
        <div class="faq__items">
          <div class="faq__item faq-item" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-delay="0"
            itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question" itemprop="name">
                Чем SellKit лучше агрегаторов?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div class="faq-item__body" itemprop="text">
                <p>Вы&nbsp;получаете полный контроль без комиссий 25-30%:</p>
                <ol>
                  <li>Собственное мобильное приложение и&nbsp;сайт</li>
                  <li>Все данные клиентов остаются у&nbsp;вас</li>
                  <li>Гибкие настройки лояльности и&nbsp;цен</li>
                </ol>
                <p>
                  Бонус: Средний рост повторных заказов после
                  перехода&nbsp;&mdash; +35%.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item faq-item" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="150">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question">
                Сколько времени занимает разработка?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content">
              <div class="faq-item__body">
                <p>
                  Готовое решение (шаблонный сайт+приложение)&nbsp;&mdash; срок
                  5-14 дней Кастомная разработка&nbsp;&mdash; срок 2-4 недели
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item faq-item active" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="300">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question">
                Как происходит доставка в приложении?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content">
              <div class="faq-item__body">
                <p>Есть три удобных варианта:</p>
                <ol>
                  <li>
                    Свои курьеры&nbsp;- полный контроль через наше приложение
                  </li>
                  <li>Смешанный формат&nbsp;- свои + партнерские курьеры</li>
                  <li>Только партнеры (Яндекс Доставка и&nbsp;аналоги)</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="faq__item faq-item" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="450">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question">
                Какие есть способы привлечь клиентов в&nbsp;приложение?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content">
              <div class="faq-item__body">
                <p>Проверенные механики:</p>
                <ol>
                  <li>Двойной кешбэк за&nbsp;первый заказ</li>
                  <li>Эксклюзивные акции только в&nbsp;приложении</li>
                  <li>QR-коды в&nbsp;зале</li>
                  <li>Push-уведомления о&nbsp;новых блюдах</li>
                  <li>Оповещение в&nbsp;соцсетях</li>
                </ol>
                <p>
                  Результат: До&nbsp;40% заказов переходит из&nbsp;агрегаторов
                  в&nbsp;ваше приложение за&nbsp;3&nbsp;месяца.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item faq-item" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="600">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question">
                Как работает ваша техподдержка?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content">
              <div class="faq-item__body">
                <p>Доступно 3&nbsp;уровня поддержки:</p>
                <ol>
                  <li>
                    Чат-бот&nbsp;&mdash; решает&nbsp;45% вопросов мгновенно
                  </li>
                  <li>Технические специалисты&nbsp;&mdash; онлайн 24/7</li>
                  <li>Персональный менеджер</li>
                </ol>
                <p>
                  Статистика: 79% обращений решаются в&nbsp;течение
                  30&nbsp;минут.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item faq-item" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="750">
            <button class="faq-item__header btn-reset">
              <span class="faq-item__question">
                Как система поможет увеличить средний чек?
              </span>
              <span class="faq-item__plus">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 19V1M1 10H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H19" stroke="#001840" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </button>
            <div class="faq-item__content">
              <div class="faq-item__body">
                <ol>
                  <li>
                    Конструктор комбо (сборные наборы с&nbsp;наценкой 15-20%)
                  </li>
                  <li>Платные модификаторы (доп. сыр, острый соус)</li>
                  <li>
                    Умные рекомендации (&laquo;К&nbsp;этому блюду часто
                    берут...&raquo;)
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__mob faq__mob--bottom">
          <a href="#" target="_blank" class="faq__link">
            Какой тариф выбрать? Как&nbsp;понять, что&nbsp;мне подойдёт?
          </a>
        </div>
      </div>
    </div>
  </div>
</section>