<section class="hero" data-header="default" itemscope itemtype="https://schema.org/WebPage">
  <meta itemprop="name" content="SellKit - комплексное решение для ресторанного бизнеса">
  <meta itemprop="description"
    content="Профессиональная система автоматизации для ресторанов с доставкой, мобильным приложением и аналитикой">

  <div class="container hero__container">
    <div class="hero__decor" aria-hidden="true">
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="hero__plus">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_789)">
            <path d="M20.9524 0H23.0476V44H20.9524V0Z" fill="#006AFF" />
            <path d="M9.15858e-08 23.0476L0 20.9524L44 20.9524L44 23.0476L9.15858e-08 23.0476Z" fill="#006AFF" />
          </g>
          <defs>
            <clipPath id="clip0_1_789">
              <rect width="44" height="44" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="hero__content" itemscope itemtype="https://schema.org/Service">
      <p class="hero__supertitle desc1">
        готовая система для запуска онлайн доставки еды
      </p>
      <h1 class="title1 hero__title" data-aos-delay="300">
        сайт, приложение,<br />
        лояльность, CRM <span>для <span class="hero__title-typed"></span></span>
      </h1>
      <p class="hero__subtitle desc1" data-aos-delay="800">
        Решение для ресторанов, объединяющее сайт, приложение, систему
        лояльности, аналитику, курьерский софт и&nbsp;маркетинг на&nbsp;одной
        платформе.
      </p>
      <div class="hero__bottom" data-aos-delay="1200">
        <button class="btn-reset btn hero__btn modal-btn" aria-label="Попробовать SellKit - открыть форму заявки"
          type="button">Попробовать SellKit</button>
      </div>
    </div>
  </div>

  <div class="hero__video">
    <video loop playsinline autoplay muted preload="metadata">
      <source src="main-cover.webm" type="video/webm">
      <source src="main-cover.mp4" type="video/mp4">
    </video>
  </div>
</section>