<section class="loyal-wrapper" data-header="light" role="region" aria-labelledby="loyal-title" itemscope
  itemtype="https://schema.org/WebPage">
  <meta itemprop="name" content="Программное решение для повышения лояльности гостей ресторана">
  <meta itemprop="description"
    content="Sellkit предлагает комплексное решение для повышения лояльности и возвращаемости гостей вашего ресторана через собственный сайт и мобильное приложение">

  <h2 class="visually-hidden" id="loyal-title">Повышение лояльности гостей</h2>
  <section class="loyal" role="region" aria-labelledby="loyal-heading-title" itemscope
    itemtype="https://schema.org/Service">
    <div class="container">
      <div class="loyal__header">
        <div data-aos-anchor-placement="top-bottom" data-aos="fade-right">
          <canvas class="loyal__canvas" id="loyal-canvas" aria-hidden="true"></canvas>
        </div>
        <div class="loyal__heading">
          <span class="loyal__btn btn-label btn-reset" data-aos-anchor-placement="top-bottom" data-aos="fade-down">
            Причины, по&nbsp;которым выбирают&nbsp;нас
          </span>
          <h2 class="loyal__title title2" id="loyal-heading-title" data-aos-anchor-placement="top-bottom"
            data-aos="fade-down" itemprop="name">
            повышение возвращаемости и&nbsp;лояльности гостей
            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">с&nbsp;помощью собственного сайта
              и&nbsp;приложения</span>
          </h2>
        </div>
      </div>
      <div class="loyal__items" role="list" itemscope itemtype="https://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">
        <meta itemprop="numberOfItems" content="5">

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="0" role="listitem" itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="1">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="100">
            <div class="loyal-item__fig" aria-hidden="true">01</div>
            <p class="loyal-item__title" itemprop="name">кастомизация и&nbsp;доработки</p>
            <p class="loyal-item__desc" itemprop="description">
              Мы&nbsp;можем не&nbsp;только изменить внешний вид&nbsp;решения для
              вас, но&nbsp;и&nbsp;внести индивидуальные изменения
              в&nbsp;функционал. Кастомизация&nbsp;&mdash;
              это&nbsp;не&nbsp;просто слова, а&nbsp;реальность, которую
              мы&nbsp;можем воплотить в&nbsp;жизнь!
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="200" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="2">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="300">
            <div class="loyal-item__fig" aria-hidden="true">02</div>
            <p class="loyal-item__title" itemprop="name">большой функционал</p>
            <p class="loyal-item__desc" itemprop="description">
              Возможности sellkit позволяют решать множество задач&nbsp;&mdash;
              от&nbsp;картинок модификаторов до&nbsp;сложных интеграций. Система
              поддерживает все функции iiko и&nbsp;обеспечивает корректную
              выгрузку данных.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="400" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="3">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="500">
            <div class="loyal-item__fig" aria-hidden="true">03</div>
            <p class="loyal-item__title" itemprop="name">эффективный маркетинг</p>
            <p class="loyal-item__desc" itemprop="description">
              Сегментация, промокоды, ключевая аналитика, отчёты RFM и&nbsp;LTV,
              пуш-уведомления, конструктор акций и&nbsp;многое
              другое&nbsp;&mdash; всё это позволяет ресторанам видеть весь свой
              бизнес в&nbsp;цифрах и&nbsp;эффективно работать
              с&nbsp;оцифрованной базой гостей.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="600" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="4">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="700">
            <div class="loyal-item__fig" aria-hidden="true">04</div>
            <p class="loyal-item__title" itemprop="name">удобный курьерский софт</p>
            <p class="loyal-item__desc" itemprop="description">
              Представляем вам приложение для курьеров, которое полностью
              интегрировано с&nbsp;iiko. С&nbsp;его&nbsp;помощью автоматически
              назначаются курьеры, автоматически рассчитывается время
              и&nbsp;стоимость доставки&nbsp;&mdash; все&nbsp;необходимое
              в&nbsp;удобном&nbsp;интерфейсе.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="800" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="5">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="900">
            <div class="loyal-item__fig" aria-hidden="true">05</div>
            <p class="loyal-item__title" itemprop="name">постоянные обновления</p>
            <p class="loyal-item__desc" itemprop="description">
              Специалисты нашей компании непрерывно работают&nbsp;над развитием
              платформы, чтобы&nbsp;она&nbsp;отвечала актуальным трендам
              в&nbsp;индустрии доставки еды и&nbsp;могла успешно конкурировать
              с&nbsp;лидерами рынка. Обновления выходят бесплатно
              и&nbsp;регулярно.
            </p>
          </div>
        </div>
      </div>

      <div class="lb__block lb" data-mouse-blue" itemscope itemtype="https://schema.org/Offer">
        <div class="lb__header">
          <div class="lb__icon" aria-hidden="true"></div>
          <p class="lb__supertitle">Функциональное и&nbsp;стабильное решение</p>
          <p class="lb__title" itemprop="name">Всего&nbsp;за&nbsp;14&nbsp;дней</p>
          <span itemprop="description" class="visually-hidden">Внедрение функционального и стабильного решения для
            ресторанного бизнеса всего за 14 дней</span>
        </div>
        <div class="lb__canvas">
          <div id="canvas-container" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients" id="cases" role="region" aria-labelledby="clients-title">
    <div class="container">
      <div class="clients__header centered" data-aos-anchor-placement="top-bottom" data-aos="fade-up">
        <span class="clients__label btn-label btn-reset"> Наши клиенты </span>
        <h2 class="title2 clients__title" id="clients-title">
          мы&nbsp;обслуживаем более 500&nbsp;ресторанов и&nbsp;сетей
        </h2>
        <p class="desc2 clients__desc">
          <span>
            Ежедневно мы&nbsp;принимаем свыше 10&nbsp;000 онлайн-заказов
            и&nbsp;регистрируем более 1000 новых клиентов через нашу систему.
          </span>
          <span>
            Решение подойдёт для&nbsp;любого ресторана, кофейни или
            даркитчена.</span>
        </p>
      </div>
      <div class="clients__wrapper">
        <div class="swiper clients__thumbs">
          <div class="clients__tabs swiper-wrapper" role="tablist">
            <button class="clients__tab btn-reset swiper-slide active" data-client="all" role="tab" aria-selected="true"
              aria-controls="all-clients">
              Все
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="popular" role="tab" aria-selected="true"
              aria-controls="all-clients">
              Популярное
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="rest" role="tab" aria-selected="false"
              aria-controls="rest-clients">
              Ресторан
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="sushi" role="tab" aria-selected="false"
              aria-controls="sushi-clients">
              Суши, роллы
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="street" role="tab" aria-selected="false"
              aria-controls="street-clients">
              Стритфуд
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="asia" role="tab" aria-selected="false"
              aria-controls="asia-clients">
              Азия
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="pizza" role="tab" aria-selected="false"
              aria-controls="pizza-clients">
              Пицца
            </button> <button class="clients__tab btn-reset swiper-slide" data-client="mult" role="tab"
              aria-selected="false" aria-controls="mult-clients">
              Мультибренд
            </button>
          </div>
        </div>
        <div class="clients__items clients__items--main" data-visible-cards="4" role="tabpanel" id="all-clients">
          <div class="clients__card card" data-aos-anchor-placement="top-bottom" data-aos="show-card"
            data-client-card="rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="0">
              <div class="card__labels">
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/01.webp" width="" height="" loading="lazy" alt="Ресторан МИДИЙНОЕ МЕСТО" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/midiy.svg" width="" height="" loading="lazy" alt="Логотип МИДИЙНОЕ МЕСТО" />
                </div>
                <p class="card__title">МИДИЙНОЕ&nbsp;МЕСТО</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Скачать приложение МИДИЙНОЕ МЕСТО">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-aos-anchor-placement="top-bottom" data-aos="show-card"
            data-client-card="popular">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="0">
              <div class="card__labels">
                <div class="card__label">популярное</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/one-love.webp" width="" height="" loading="lazy" alt="Ресторан Ван лав" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/one-love-logo.webp" width="" height="" loading="lazy" alt="Логотип Ван лав" />
                </div>
                <p class="card__title">ванлав</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт ванлав">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение ванлав">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-aos-anchor-placement="top-bottom" data-aos="show-card"
            data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/10.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/osteria.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">Osteria mario</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>


          <div class="clients__card card" data-aos-anchor-placement="top-bottom" data-aos="show-card"
            data-client-card="mult, rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="100">
              <div class="card__labels">
                <div class="card__label">мультибренд</div>
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/02.webp" width="" height="" loading="lazy" alt="Ресторан ДЕНИС ИВАНОВ" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/di.svg" width="" height="" loading="lazy" alt="Логотип ДЕНИС ИВАНОВ" />
                </div>
                <p class="card__title">денис иванов</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт ДЕНИС ИВАНОВ">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение ДЕНИС ИВАНОВ">Приложение</a>
                </div>
              </div>
            </div>
          </div>


          <div class="clients__card card" data-client-card="asia, sushi">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">азиатская кухня</div>
                <div class="card__label">суши, роллы</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/asia.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/asia-logo.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">азия</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/06.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/ruki.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">Руки вверх</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>


          <div class="clients__card card" data-client-card="asia">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="300">
              <div class="card__labels">
                <div class="card__label">азиатская кухня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/04.webp" width="" height="" loading="lazy" alt="Ресторан KUKSU RAMEN" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/kuksu.svg" width="" height="" loading="lazy" alt="Логотип KUKSU RAMEN" />
                </div>
                <p class="card__title">KUKSU RAMEN</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт KUKSU RAMEN">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение KUKSU RAMEN">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="sushi, pizza">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">Суши, роллы</div>
                <div class="card__label">пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/05.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/panda.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">папа панда</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/07.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/ogon.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">вокруг огня</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="asia">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">азиатская кухня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/09.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/gills.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">GILLS</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">Пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/square.webp" width="" height="" loading="lazy" alt=" квадратика" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/square-logo.webp" width="" height="" loading="lazy"
                    alt="Логотип квадратика" />
                </div>
                <p class="card__title">квадратика</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт квадратика">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение квадратика">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="sushi">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">суши, роллы</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/yapona.webp" width="" height="" loading="lazy" alt=" япона" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/yapona-logo.webp" width="" height="" loading="lazy" alt="Логотип япона" />
                </div>
                <p class="card__title">япона</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт япона">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение япона">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/17.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/gaviko.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">гивико</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/08.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mama.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">мама restaurant</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/degusto.webp" width="" height="" loading="lazy" alt=" DEGUSTO" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/degusto-logo.webp" width="" height="" loading="lazy" alt="Логотип DEGUSTO" />
                </div>
                <p class="card__title">DEGUSTO</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт DEGUSTO">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение DEGUSTO">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="asia" top-bottom" data-aos="flip-left"
            data-aos-duration="600" data-aos-easing="linear" data-aos-delay="200">
            <div class="card__labels">
              <div class="card__label">азиатская кухня</div>
            </div>
            <div class="card__img">
              <img src="./img/clients/dom.webp" width="" height="" loading="lazy" alt=" дом куксу" />
            </div>
            <div class="card__content">
              <div class="card__icon">
                <img src="./img/clients/dom-logo.webp" width="" height="" loading="lazy" alt="Логотип дом куксу" />
              </div>
              <p class="card__title">дом куксу</p>
              <div class="card__links">
                <a href="#" target="_blank" aria-label="Перейти на сайт дом куксу">Сайт</a>
                <a href="#" target="_blank" aria-label="Скачать приложение дом куксу">Приложение</a>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/sir.webp" width="" height="" loading="lazy" alt=" сыр да лава" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/sir-logo.webp" width="" height="" loading="lazy" alt="Логотип сыр да лава" />
                </div>
                <p class="card__title">сыр да лава</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт сыр да лава">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение сыр да лава">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/15.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/tiger.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">тайгер пицца</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">Пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/shava.webp" width="" height="" loading="lazy" alt=" шаурма маркет" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/shava-logo.webp" width="" height="" loading="lazy"
                    alt="Логотип шаурма маркет" />
                </div>
                <p class="card__title">шаурма маркет</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт шаурма маркет">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение шаурма маркет">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="sushi">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">Роллы, суши</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/19.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/fabric.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">фабрика печем и крутим</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="multy, rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">мультибренд</div>
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/gaudi.webp" width="" height="" loading="lazy" alt=" GAUDI FAMILY" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/gaudi-logo.webp" width="" height="" loading="lazy"
                    alt="Логотип GAUDI FAMILY" />
                </div>
                <p class="card__title">GAUDI FAMILY</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт GAUDI FAMILY">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение GAUDI FAMILY">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/11.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/evro.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">еврошаверма</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="pizza, sushi">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">суши, роллы</div>
                <div class="card__label">Пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/dovezu.webp" width="" height="" loading="lazy" alt="довезука" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/dovezu-logo.webp" width="" height="" loading="lazy" alt="Логотип довезука" />
                </div>
                <p class="card__title">довезука</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт довезука">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение довезука">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="sushi">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">суши, роллы</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/ayami-bg.webp" width="" height="" loading="lazy" alt="аями" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/ayami.webp" width="" height="" loading="lazy" alt="Логотип аями" />
                </div>
                <p class="card__title">аями</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт аями">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение аями">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">мультибренд</div>
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/itle.webp" width="" height="" loading="lazy" alt="итле" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/itle-logo.webp" width="" height="" loading="lazy" alt="Логотип итле" />
                </div>
                <p class="card__title">итле</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Скачать приложение итле">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/solyanka.webp" width="" height="" loading="lazy" alt="солянка" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/solyanka-logo.webp" width="" height="" loading="lazy" alt="Логотип солянка" />
                </div>
                <p class="card__title">солянка</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт солянка">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение солянка">Приложение</a>
                </div>
              </div>
            </div>
          </div>



          <div class="clients__card card" data-client-card="coffee">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">кофейня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/14.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mel.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">мелберес кофе</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>


          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/13.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mr.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">MR. MEDIUM</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__avs">
          <div class="clients__ava">
            <img src="./img/icons/01.webp" width="80" height="80" loading="lazy" alt="Иконка преимущества" />
          </div>
          <div class="clients__ava">
            <img src="./img/icons/02.webp" width="80" height="80" loading="lazy" alt="Иконка преимущества" />
          </div>
          <div class="clients__ava">
            <img src="./img/icons/03.webp" width="80" height="80" loading="lazy" alt="Иконка преимущества" />
          </div>
          <div class="clients__ava">15< </div>
          </div>
          <div class="centered">
            <a href="./cases.html" class="btn btn-reset clients__btn">показать&nbsp;ещё</a>
          </div>
        </div>
      </div>
  </section>
  <div class="loyal__cover loyal-parallax" aria-hidden="true">

    <img src="./img/parallax-1.webp" width="1200" height="630" loading="lazy" alt="Декоративное изображение" />

    <img src="./img/parallax-2.webp" width="1200" height="630" loading="lazy" alt="Декоративное изображение" />

  </div>
  <div class="loyal__cover loyal__cover--mob">
    <picture>
      <source srcset="./img/cover-mob.webp" type="image/webp" media="(max-width: 768px)">
      <img loading="lazy" src="./img/cover-mob.jpg" class="image" width="" height="" alt="Декоративное изображение" />
    </picture>
  </div>
</section>