<section class="loyal">
  <div class="container">
    <div class="loyal__header">
      <div>
        <span class="loyal__btn btn-label btn-reset">
          Причины, по&nbsp;которым выбирают&nbsp;нас
        </span>
      </div>
      <h2 class="loyal__title title2">
        повышение возвращаемости и&nbsp;лояльности гостей с&nbsp;помощью
        собственного сайта и&nbsp;приложения
      </h2>
    </div>
    <div class="loyal__items">
      <div class="loyal__item loyal-item">
        <div class="loyal-item__fig">01</div>
        <p class="loyal-item__title">кастомизация и&nbsp;доработки</p>
        <p class="loyal-item__desc">
          Мы&nbsp;можем не&nbsp;только изменить внешний вид решения для вас,
          но&nbsp;и&nbsp;внести индивидуальные изменения в&nbsp;функционал.
          Кастомизация&nbsp;&mdash; это не&nbsp;просто слова, а&nbsp;реальность,
          которую мы&nbsp;можем воплотить в&nbsp;жизнь!
        </p>
      </div>
      <div class="loyal__item loyal-item">
        <div class="loyal-item__fig">02</div>
        <p class="loyal-item__title">большой функционал</p>
        <p class="loyal-item__desc">
          Возможности sellkit позволяют решать множество задач&nbsp;&mdash;
          от&nbsp;картинок модификаторов до&nbsp;сложных интеграций. Система
          поддерживает все функции iiko и&nbsp;обеспечивает корректную выгрузку
          данных.
        </p>
      </div>
      <div class="loyal__item loyal-item">
        <div class="loyal-item__fig">03</div>
        <p class="loyal-item__title">эффективный маркетинг</p>
        <p class="loyal-item__desc">
          Сегментация, промокоды, ключевая аналитика, отчёты RFM и&nbsp;LTV,
          пуш-уведомления, конструктор акций и&nbsp;многое другое&nbsp;&mdash;
          всё это позволяет ресторанам видеть весь свой бизнес в&nbsp;цифрах
          и&nbsp;эффективно работать с&nbsp;оцифрованной базой гостей.
        </p>
      </div>
      <div class="loyal__item loyal-item">
        <div class="loyal-item__fig">04</div>
        <p class="loyal-item__title">удобный курьерский софт</p>
        <p class="loyal-item__desc">
          Представляем вам приложение для курьеров, которое полностью
          интегрировано с&nbsp;iiko. С&nbsp;его помощью автоматически
          назначаются курьеры, автоматически рассчитывается время
          и&nbsp;стоимость доставки&nbsp;&mdash; все&nbsp;необходимое
          в&nbsp;удобном интерфейсе.
        </p>
      </div>
      <div class="loyal__item loyal-item">
        <div class="loyal-item__fig">05</div>
        <p class="loyal-item__title">постоянные обновления</p>
        <p class="loyal-item__desc">
          Специалисты нашей компании непрерывно работают над развитием
          платформы, чтобы она отвечала актуальным трендам в&nbsp;индустрии
          доставки еды и&nbsp;могла успешно конкурировать с&nbsp;лидерами рынка.
          Обновления выходят бесплатно и&nbsp;регулярно.
        </p>
      </div>
    </div>

    <div class="loyal__block lb" data-mouse-blue>
      <div class="lb__header">
        <div class="lb__icon"></div>
        <p class="lb__supertitle">Функциональное и&nbsp;стабильное решение</p>
        <p class="lb__title">Всего&nbsp;за&nbsp;14&nbsp;дней</p>
      </div>
      <div class="lb__canvas">
        <div id="canvas-container"></div>
      </div>
    </div>
  </div>
</section>
