<section class="loyal-wrapper" data-header="light" role="region" aria-labelledby="loyal-title" itemscope
  itemtype="https://schema.org/WebPage">
  <meta itemprop="name" content="Программное решение для повышения лояльности гостей ресторана">
  <meta itemprop="description"
    content="Sellkit предлагает комплексное решение для повышения лояльности и возвращаемости гостей вашего ресторана через собственный сайт и мобильное приложение">

  <h2 class="visually-hidden" id="loyal-title">Повышение лояльности гостей</h2>
  <section class="loyal" role="region" aria-labelledby="loyal-heading-title" itemscope
    itemtype="https://schema.org/Service">
    <div class="container">
      <div class="loyal__header">
        <div data-aos-anchor-placement="top-bottom" data-aos="fade-right">
          <canvas class="loyal__canvas" id="loyal-canvas" aria-hidden="true"></canvas>
        </div>
        <div class="loyal__heading">
          <span class="loyal__btn btn-label btn-reset" data-aos-anchor-placement="top-bottom" data-aos="fade-down">
            Причины, по&nbsp;которым выбирают&nbsp;нас
          </span>
          <h2 class="loyal__title title2" id="loyal-heading-title" data-aos-anchor-placement="top-bottom"
            data-aos="fade-down" itemprop="name">
            повышение возвращаемости и&nbsp;лояльности гостей
            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">с&nbsp;помощью собственного сайта
              и&nbsp;приложения</span>
          </h2>
        </div>
      </div>
      <div class="loyal__items" role="list" itemscope itemtype="https://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="Unordered">
        <meta itemprop="numberOfItems" content="5">

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="0" role="listitem" itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
          <meta itemprop="position" content="1">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="100">
            <div class="loyal-item__fig" aria-hidden="true">01</div>
            <p class="loyal-item__title" itemprop="name">кастомизация и&nbsp;доработки</p>
            <p class="loyal-item__desc" itemprop="description">
              Мы&nbsp;можем не&nbsp;только изменить внешний вид&nbsp;решения для
              вас, но&nbsp;и&nbsp;внести индивидуальные изменения
              в&nbsp;функционал. Кастомизация&nbsp;&mdash;
              это&nbsp;не&nbsp;просто слова, а&nbsp;реальность, которую
              мы&nbsp;можем воплотить в&nbsp;жизнь!
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="200" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="2">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="300">
            <div class="loyal-item__fig" aria-hidden="true">02</div>
            <p class="loyal-item__title" itemprop="name">большой функционал</p>
            <p class="loyal-item__desc" itemprop="description">
              Возможности sellkit позволяют решать множество задач&nbsp;&mdash;
              от&nbsp;картинок модификаторов до&nbsp;сложных интеграций. Система
              поддерживает все функции iiko и&nbsp;обеспечивает корректную
              выгрузку данных.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="400" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="3">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="500">
            <div class="loyal-item__fig" aria-hidden="true">03</div>
            <p class="loyal-item__title" itemprop="name">эффективный маркетинг</p>
            <p class="loyal-item__desc" itemprop="description">
              Сегментация, промокоды, ключевая аналитика, отчёты RFM и&nbsp;LTV,
              пуш-уведомления, конструктор акций и&nbsp;многое
              другое&nbsp;&mdash; всё это позволяет ресторанам видеть весь свой
              бизнес в&nbsp;цифрах и&nbsp;эффективно работать
              с&nbsp;оцифрованной базой гостей.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="600" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="4">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="700">
            <div class="loyal-item__fig" aria-hidden="true">04</div>
            <p class="loyal-item__title" itemprop="name">удобный курьерский софт</p>
            <p class="loyal-item__desc" itemprop="description">
              Представляем вам приложение для курьеров, которое полностью
              интегрировано с&nbsp;iiko. С&nbsp;его&nbsp;помощью автоматически
              назначаются курьеры, автоматически рассчитывается время
              и&nbsp;стоимость доставки&nbsp;&mdash; все&nbsp;необходимое
              в&nbsp;удобном&nbsp;интерфейсе.
            </p>
          </div>
        </div>

        <div class="loyal__item loyal-item" data-aos-anchor-placement="top-bottom" data-aos="draw-plus"
          data-aos-delay="800" role="listitem" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/Service">
          <meta itemprop="position" content="5">
          <div class="loyal-item__content" data-aos-anchor-placement="top-bottom" data-aos="fade-up"
            data-aos-delay="900">
            <div class="loyal-item__fig" aria-hidden="true">05</div>
            <p class="loyal-item__title" itemprop="name">постоянные обновления</p>
            <p class="loyal-item__desc" itemprop="description">
              Специалисты нашей компании непрерывно работают&nbsp;над развитием
              платформы, чтобы&nbsp;она&nbsp;отвечала актуальным трендам
              в&nbsp;индустрии доставки еды и&nbsp;могла успешно конкурировать
              с&nbsp;лидерами рынка. Обновления выходят бесплатно
              и&nbsp;регулярно.
            </p>
          </div>
        </div>
      </div>

      <div class="lb__block lb" data-mouse-blue" itemscope itemtype="https://schema.org/Offer">
        <div class="lb__header">
          <div class="lb__icon" aria-hidden="true"></div>
          <p class="lb__supertitle">Функциональное и&nbsp;стабильное решение</p>
          <p class="lb__title" itemprop="name">Всего&nbsp;за&nbsp;14&nbsp;дней</p>
          <span itemprop="description" class="visually-hidden">Внедрение функционального и стабильного решения для
            ресторанного бизнеса всего за 14 дней</span>
        </div>
        <div class="lb__canvas">
          <div id="canvas-container" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients" id="cases" role="region" aria-labelledby="clients-title">
    <div class="container">
      <div class="clients__header centered" data-aos-anchor-placement="top-bottom" data-aos="fade-up">
        <span class="clients__label btn-label btn-reset"> Наши клиенты </span>
        <h2 class="title2 clients__title" id="clients-title">
          мы&nbsp;обслуживаем более 500&nbsp;ресторанов и&nbsp;сетей
        </h2>
        <p class="desc2 clients__desc">
          <span>
            Ежедневно мы&nbsp;принимаем свыше 10&nbsp;000 онлайн-заказов
            и&nbsp;регистрируем более 1000 новых клиентов через нашу систему.
          </span>
          <span>
            Решение подойдёт для&nbsp;любого ресторана, кофейни или
            даркитчена.</span>
        </p>
      </div>
      <div class="clients__wrapper">
        <div class="swiper clients__thumbs">
          <div class="clients__tabs swiper-wrapper" role="tablist">
            <button class="clients__tab btn-reset swiper-slide active" data-client="all" role="tab" aria-selected="true"
              aria-controls="all-clients">
              Все
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="mult" role="tab" aria-selected="false"
              aria-controls="mult-clients">
              Мультибренд
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="asia" role="tab" aria-selected="false"
              aria-controls="asia-clients">
              Азия
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="sushi" role="tab" aria-selected="false"
              aria-controls="sushi-clients">
              Суши, роллы
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="pizza" role="tab" aria-selected="false"
              aria-controls="pizza-clients">
              Пицца
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="street" role="tab" aria-selected="false"
              aria-controls="street-clients">
              Стритфуд
            </button>
            <button class="clients__tab btn-reset swiper-slide" data-client="rest" role="tab" aria-selected="false"
              aria-controls="rest-clients">
              Ресторан
            </button>
          </div>
        </div>
        <div class="clients__items" data-visible-cards="4" role="tabpanel" id="all-clients">
          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="0">
              <div class="card__labels">
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/01.webp" width="" height="" loading="lazy" alt="Ресторан МИДИЙНОЕ МЕСТО" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/midiy.svg" width="" height="" loading="lazy" alt="Логотип МИДИЙНОЕ МЕСТО" />
                </div>
                <p class="card__title">МИДИЙНОЕ&nbsp;МЕСТО</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Скачать приложение МИДИЙНОЕ МЕСТО">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="mult, rest">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="100">
              <div class="card__labels">
                <div class="card__label">мультибренд</div>
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/02.webp" width="" height="" loading="lazy" alt="Ресторан ДЕНИС ИВАНОВ" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/di.svg" width="" height="" loading="lazy" alt="Логотип ДЕНИС ИВАНОВ" />
                </div>
                <p class="card__title">денис иванов</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт ДЕНИС ИВАНОВ">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение ДЕНИС ИВАНОВ">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="200">
              <div class="card__labels">
                <div class="card__label">Пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/03.webp" width="" height="" loading="lazy" alt="Пиццерия МАЛЕВИЧ" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mae.svg" width="" height="" loading="lazy" alt="Логотип МАЛЕВИЧ" />
                </div>
                <p class="card__title">малевич</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт МАЛЕВИЧ">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение МАЛЕВИЧ">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="asia">
            <div class="card__wrap" data-aos-anchor-placement="top-bottom" data-aos="flip-left" data-aos-duration="600"
              data-aos-easing="linear" data-aos-delay="300">
              <div class="card__labels">
                <div class="card__label">азиатская кухня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/04.webp" width="" height="" loading="lazy" alt="Ресторан KUKSU RAMEN" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/kuksu.svg" width="" height="" loading="lazy" alt="Логотип KUKSU RAMEN" />
                </div>
                <p class="card__title">KUKSU RAMEN</p>
                <div class="card__links">
                  <a href="#" target="_blank" aria-label="Перейти на сайт KUKSU RAMEN">Сайт</a>
                  <a href="#" target="_blank" aria-label="Скачать приложение KUKSU RAMEN">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="sushi, pizza">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">Суши, роллы</div>
                <div class="card__label">пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/05.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/panda.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">папа панда</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/06.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/ruki.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">Руки вверх</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">РЕСТОРАН</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/07.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/ogon.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">вокруг огня</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/08.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mama.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">мама restaurant</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="asia">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">азиатская кухня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/09.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/gills.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">GILLS</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/10.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/osteria.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">Osteria mario</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/11.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/evro.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">еврошаверма</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="street">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">стритфуд</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/12.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mitchel.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">MITCHELl GRILL</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/13.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mr.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">MR. MEDIUM</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="coffee">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">кофейня</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/14.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/mel.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">мелберес кофе</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/15.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/tiger.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">тайгер пицца</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="mult">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">мультибренд</div>
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/16.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/2chiko.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">2chiko</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clients__card card" data-client-card="rest">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/17.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/gaviko.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">гивико</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="rest, sushi">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">ресторан</div>
                <div class="card__label">Роллы, суши</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/18.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/maki.svg" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">маки</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="sushi">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">Роллы, суши</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/19.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/fabric.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">фабрика печем и крутим</p>
                <div class="card__links">
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
          <div class="clients__card card" data-client-card="pizza">
            <div class="card__wrap">
              <div class="card__labels">
                <div class="card__label">пицца</div>
              </div>
              <div class="card__img">
                <img src="./img/clients/20.webp" width="" height="" loading="lazy" alt="" />
              </div>
              <div class="card__content">
                <div class="card__icon">
                  <img src="./img/clients/birma.webp" width="" height="" loading="lazy" alt="" />
                </div>
                <p class="card__title">бирма</p>
                <div class="card__links">
                  <a href="#" target="_blank">Сайт</a>
                  <a href="#" target="_blank">Приложение</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clients__avs">
          <div class="clients__ava">
            <img src="./img/icons/01.webp" width="" height="" loading="lazy" alt="" />
          </div>
          <div class="clients__ava">
            <img src="./img/icons/02.webp" width="" height="" loading="lazy" alt="" />
          </div>
          <div class="clients__ava">
            <img src="./img/icons/03.webp" width="" height="" loading="lazy" alt="" />
          </div>
          <div class="clients__ava">15< </div>
          </div>
          <div class="centered">
            <a href="./cases.html" class="btn btn-reset clients__btn">показать&nbsp;ещё</a>
          </div>
        </div>
      </div>
  </section>
  <div class="loyal__cover" aria-hidden="true">
    <picture>
      <source srcset="./img/cover-mob.webp" type="image/webp" media="(max-width: 800px)" />
      <source srcset="./img/cover.webp" type="image/webp" />
      <img src="./img/cover.png" width="" height="" loading="lazy" alt="Декоративное изображение" />
    </picture>
  </div>
</section>