<section class="plans">
  <div class="container">
    <div class="plans__header" data-aos="fade-up">
      <div class="plans__left">
        <span class="btn-label plans__label">Пришла пора выбирать</span>
        <h2 class="title2 plans__title">Стоимость подписки</h2>
        <div class="plans__desc plans__desc--mob">
          <p>
            Запуск, обновления и&nbsp;техническая поддержка бесплатные, нет
            ограничений по&nbsp;заказам или push.
          </p>
        </div>
        <div class="plans__tabs">
          <button
            class="btn-reset plans__tab active"
            data-plan-tab="monthly"
            data-mouse-blue
          >
            Ежемесячно
          </button>
          <button
            class="btn-reset plans__tab"
            data-plan-tab="yearly"
            data-mouse-blue
          >
            На&nbsp;год&nbsp;(-15%)
          </button>
        </div>
      </div>
      <div class="plans__desc">
        <p>
          Запуск, обновления и&nbsp;техническая поддержка бесплатные, нет
          ограничений по&nbsp;заказам или push.
        </p>
      </div>
    </div>

    <div class="plans__content" data-plan="monthly">
      <div class="plans__item plan">
        <div class="plan__title">Sellkit site</div>
        <p class="plan__desc">
          Сайт до&nbsp;5&nbsp;заведений, потом&nbsp;+1680&nbsp;₽&nbsp;/ месяц
          за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Cайт, домен</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">11&nbsp;880&nbsp;<span>₽ / месяц</span></div>
      </div>

      <div class="plans__item plan">
        <div class="plan__title">Sellkit APP</div>
        <p class="plan__desc">
          Приложение до&nbsp;5&nbsp;заведений, потом&nbsp;+1680&nbsp;₽&nbsp;/
          месяц за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Мобильное приложение</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">13&nbsp;080&nbsp;<span>₽ / месяц</span></div>
      </div>

      <div class="plans__item plan plan--dark">
        <div class="plan__title">Sellkit site, APP</div>
        <p class="plan__desc">
          Сайт+приложение до&nbsp;5&nbsp;заведений, потом +1680&nbsp;₽&nbsp;/
          месяц за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Мобильное приложение, сайт</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">17&nbsp;880&nbsp;<span>₽ / месяц</span></div>
      </div>

      <div class="plans__item plan plan--blue" data-mouse-blue>
        <div class="plan__title">Sellkit max</div>
        <p class="plan__desc">
          Пакет &laquo;Максимум&raquo; до&nbsp;10&nbsp;заведений, потом&nbsp;
          +2760&nbsp;₽&nbsp;/ месяц за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Все, что в&nbsp;Sellkit site + APP</li>
          <li>Курьерское приложение</li>
          <li>
            Персональная доработка механик работы приложения, сайта, лояльности,
            crm, курьерского приложения
          </li>
          <li>Разработка уникального функционала</li>
          <li>Новые интеграции</li>
          <li>Оформление баннеров, сторис</li>
          <li>Мультибренд</li>
        </ul>
        <div class="plan__price">
          22&nbsp;680&nbsp;<span>₽&nbsp;/ месяц</span>
        </div>
      </div>
    </div>

    <div class="plans__content hidden" data-plan="yearly">
      <div class="plans__item plan">
        <div class="plan__title">Sellkit site</div>
        <p class="plan__desc">
          Сайт до&nbsp;5&nbsp;заведений, потом&nbsp;+17&nbsp;136&nbsp;₽&nbsp;/
          год за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Cайт, домен</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">
          121&nbsp;176&nbsp;<span>₽&nbsp;/ год</span>
        </div>
      </div>

      <div class="plans__item plan">
        <div class="plan__title">Sellkit APP</div>
        <p class="plan__desc">
          Приложение до&nbsp;5&nbsp;заведений,
          потом&nbsp;+17&thinsp;136&nbsp;₽&nbsp;/ год за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Мобильное приложение</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">
          133&thinsp;416&nbsp;<span>₽&nbsp;/ год</span>
        </div>
      </div>

      <div class="plans__item plan plan--dark">
        <div class="plan__title">Sellkit site, APP</div>
        <p class="plan__desc">
          Сайт+приложение до&nbsp;5&nbsp;заведений, потом
          +17&thinsp;136&nbsp;₽&nbsp;/ год за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Мобильное приложение, сайт</li>
          <li>Интеграция c POS</li>
          <li>QR-меню и&nbsp;заказ в&nbsp;стол</li>
          <li>CRM система</li>
          <li>Аналитика, сегментация, отчёты</li>
          <li>Система лояльности</li>
          <li>Интеграция с&nbsp;эквайрингом</li>
          <li>Интеграция с&nbsp;СМС-сервисом</li>
          <li>Бронирование столика</li>
        </ul>
        <div class="plan__price">
          182&thinsp;376&nbsp;<span>₽&nbsp;/ год</span>
        </div>
      </div>

      <div class="plans__item plan plan--blue" data-mouse-blue>
        <div class="plan__title">Sellkit max</div>
        <p class="plan__desc">
          Пакет &laquo;Максимум&raquo; до&nbsp;10&nbsp;заведений, потом
          +28&thinsp;152&nbsp;₽&nbsp;/ год за&nbsp;точку
        </p>
        <ul class="list-reset plan__list">
          <li>Все, что в&nbsp;Sellkit site + APP</li>
          <li>Курьерское приложение</li>
          <li>
            Персональная доработка механик работы приложения, сайта, лояльности,
            crm, курьерского приложения
          </li>
          <li>Разработка уникального функционала</li>
          <li>Новые интеграции</li>
          <li>Оформление баннеров, сторис</li>
          <li>Мультибренд</li>
        </ul>
        <div class="plan__price">
          231&thinsp;336&nbsp;<span>₽&nbsp;/ год</span>
        </div>
      </div>
    </div>

    <div class="plans__bottom centered">
      <button class="btn-reset btn plans__btn">оставить заявку</button>
    </div>
  </div>
</section>
