<section class="products" data-mouse-oreal data-header="light" itemscope itemtype="https://schema.org/ItemList">
  <meta itemprop="name" content="Продукты SellKit для ресторанного бизнеса">
  <meta itemprop="description"
    content="Полный каталог решений SellKit для автоматизации ресторанов - сайт, приложение, аналитика и другие продукты">

  <div id="stars" aria-hidden="true"></div>
  <div id="stars2" aria-hidden="true"></div>
  <div id="stars3" aria-hidden="true"></div>
  <div class="container products__main" data-aos="fade-up">
    <div class="products__header">
      <h2 class="title3 title3--white products__title" itemprop="headline">
        ДОРАБАТЫВАЕМ СИСТЕМУ ПОД ЗАДАЧИ ВАШЕГО БИЗНЕСА&nbsp;&mdash;
        <span>НОВЫЕ РАЗДЕЛЫ, БРЕНДИРОВАННЫЙ ДИЗАЙН, ФУНКЦИИ
          <span>ИНДИВИДУАЛЬНО ПОД&nbsp;ВАС</span></span>
      </h2>
      <button class="btn btn-reset btn--stroke products__btn">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path
            d="M9.39481 3.53085L9.82143 4.87242C10.0142 5.49337 10.5696 5.9155 11.1982 5.91886H12.5428C13.1733 5.9147 13.734 6.33451 13.9289 6.95682C14.1239 7.57913 13.9084 8.26083 13.396 8.64228L12.2907 9.47407C11.7818 9.85739 11.568 10.5366 11.7606 11.1578L12.1872 12.4994C12.3982 13.1226 12.1922 13.8158 11.6796 14.2074C11.167 14.5991 10.468 14.5974 9.95717 14.2032L8.87121 13.3647C8.36215 12.982 7.67377 12.982 7.16471 13.3647L6.07876 14.2032C5.57078 14.589 4.88078 14.59 4.37174 14.2057C3.86269 13.8214 3.65126 13.1398 3.84866 12.5195L4.2753 11.1779C4.4679 10.5568 4.25407 9.87752 3.74524 9.49419L2.61403 8.64899C2.09129 8.26675 1.87208 7.57391 2.07475 6.9445C2.27742 6.3151 2.85397 5.89819 3.49314 5.91886H4.83767C5.46286 5.91741 6.01722 5.50148 6.2145 4.88584L6.64113 3.54426C6.83238 2.92459 7.38625 2.50307 8.01327 2.50002C8.64028 2.49696 9.19795 2.91306 9.39481 3.53085Z"
            fill="#006AFF" />
        </svg>
        Продукты SellKit
      </button>
    </div>
    <div class="products__items">
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="1">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 01 ]</div>
          <div class="prod-item__title" itemprop="name">сайт</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="2">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 02 ]</div>
          <div class="prod-item__title" itemprop="name">приложение</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="3">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 03 ]</div>
          <div class="prod-item__title" itemprop="name">лояльность</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="4">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 04 ]</div>
          <div class="prod-item__title" itemprop="name">аналитика</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <div class="prod-item__video">
              <video loop src="cover.mp4" autoplay playsinline muted></video>
            </div>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="5">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 05 ]</div>
          <div class="prod-item__title" itemprop="name">курьерский софт</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="6">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 06 ]</div>
          <div class="prod-item__title" itemprop="name">QR-меню</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
      <div class="products__item prod-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="position" content="7">
        <div class="prod-item__info">
          <div class="prod-item__num">[ 07 ]</div>
          <div class="prod-item__title" itemprop="name">маркетинговая crm</div>
        </div>
        <div class="prod-item__content" itemprop="description">
          <div class="prod-item__video">
            <video loop src="cover.mp4"></video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products__slider swiper prod-slider" data-aos="fade-up" aria-label="Галерея продуктов SellKit">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/01.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Приложение и&nbsp;сайт</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/02.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Аналитика и&nbsp;лояльность</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/03.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Примеры работ</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__icon">
          <img src="./img/proj/sk.webp" alt="" />
        </div>
        <div class="prod-slider__img">
          <img src="./img/proj/04.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Курьерское приложение</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__icon">
          <img src="./img/proj/iiko.webp" alt="" />
        </div>
        <div class="prod-slider__img">
          <img src="./img/proj/05.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">SellKit&nbsp;&mdash; партнёр iiko</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__icon">
          <img src="./img/proj/tg.webp" alt="" />
        </div>
        <div class="prod-slider__img">
          <img src="./img/proj/06.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Телеграмм канал</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/07.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">Стоимость решения</h3>
          <a href="#" class="prod-slider__link">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.466595 6.54312C0.466595 6.23279 0.732719 5.98114 1.061 5.98114L13.8917 5.98114L8.96238 1.3207C8.73027 1.10123 8.73027 0.745398 8.96238 0.525929C9.1945 0.306461 9.57088 0.306461 9.80299 0.525929L15.7471 6.14574C15.9792 6.36525 15.9792 6.72105 15.7471 6.9405L9.80299 12.5603C9.57088 12.7798 9.1945 12.7798 8.96238 12.5603C8.73027 12.3409 8.73027 11.9851 8.96238 11.7656L13.8917 7.10511L1.061 7.10511C0.732719 7.10511 0.466595 6.85351 0.466595 6.54312Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/08.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">
            SellKit&nbsp;&mdash; партнёр Яндекс
          </h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="prod-slider__img">
          <img src="./img/proj/09.webp" alt="" />
        </div>
        <div class="prod-slider__content">
          <h3 class="prod-slider__title">
            SellKit&nbsp;&mdash; партнёр Т-банка
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>