:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Bebas Neue Cyrillic", sans-serif;
  --third-family: "Bebas Neue", sans-serif;
  --content-width: 1424px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #fff;
  --dark-color: #202020;

  --system-background: var(--light-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --system-background: var(--dark-color);
  }
}
